[2021-01-02 17:41] schlos opened #1 "Server resources"
A ticket for tracking of server resources creation.

- Production environment (out of scope here, see separate ticket)
- Test environment

[2021-01-02 17:48] schlos opened #2 "Team roles assignment"
Team roles as described on [forum](https://diskurs.codeforcroatia.org/t/prijave-za-projektnu-ekipu-za-popravi-to-trebamo-pomoc/493):

- [x] designer
- [x] frontend developer
- [x] translator(s)
- [x] translation reviewer(s)
- [ ] sys admin
- [x] data wrangler(s)
- [ ] administrators
- [ ] moderators
- [x] social network managers

[2021-01-02 17:50] schlos commented on #1
Test environment - see [forum](https://diskurs.codeforcroatia.org/t/popravi-to-testna-okolina/495).

[2021-01-02 17:50] #1 closed

[2021-01-02 19:26] schlos commented on #2
Interni popis: https://docs.google.com/spreadsheets/d/15SNs5Nf27L0nxU9avP2RNTVVy6pPYCWZzQ745zZmnWo/edit#gid=0

[2021-01-03 20:37] schlos opened #3 "Logo design Popravi.to"
**Is your feature request related to a problem? Please describe.**

n/a

**Describe the solution you'd like**

See example at http://fixmystreet.com.

It should be flat logo design (2D).

Please provide:
- logotip
- logo that has logotip + text ("Popravi.to")
- logo in different orientations (portrait, landscape etc)
- logo for light background
- logo for dark background
- editable file e.g. PSD o

[2021-01-03 20:48] schlos opened #4 "Promotional materials"
**Is your feature request related to a problem? Please describe.**

Precondition is to have already finished logo - see https://github.com/codeforcroatia/popravi.to/issues/3.

**Describe the solution you'd like**

Something along lines of https://www.fixmystreet.com/about/posters.
See all files in https://github.com/codeforcroatia/popravi.to/tree/master/web/cobrands/fixmystreet.com/posters.

**Des

[2021-01-03 22:51] schlos opened #5 "Website design for Popravi.to"
**Is your feature request related to a problem? Please describe.**

Precondition is:
- Logo design Popravi.to help wanted #3

**Describe the solution you'd like**

Website design for Popravi.to. For inspiration see resources below.

See theme assets for fixmystreet.com:
- https://github.com/codeforcroatia/popravi.to/tree/master/web/cobrands/fixmystreet
- https://github.com/codeforcroatia/popravi.t

[2021-01-03 22:56] schlos opened #6 "Popravi.to launch promotion"
See article at https://fixmystreet.org/running/promotion/

[2021-01-03 23:00] schlos opened #7 "Infographic - explain how does it work"
**Is your feature request related to a problem? Please describe.**

n/a

**Describe the solution you'd like**

Make a fun explainer system diagram/flowchart as displayed in example image. Coordinate with the rest of the team (i.e. what information to include).

Make multiple different perspectives:
- for Councils (cities and municipalities) / Staff
- for Citizens
- for Administrators

For Council

[2021-01-03 23:06] schlos opened #8 "Default categories to report issues"
**Is your feature request related to a problem? Please describe.**

n/a

**Describe the solution you'd like**

Document default categories to report issues at Popravi.to.

**Describe alternatives you've considered**

n/a

**Additional context**

See internal file:
- https://docs.google.com/spreadsheets/d/1kv8tnMg77JrTNm92ZFI3gva7NsKrmCzRin0u2OyZcCc/edit#gid=0

[2021-01-03 23:06] schlos commented on #8
Done:
- internal file https://docs.google.com/spreadsheets/d/1kv8tnMg77JrTNm92ZFI3gva7NsKrmCzRin0u2OyZcCc/edit#gid=0

[2021-01-03 23:06] #8 closed, assigned to nobody

[2021-01-03 23:08] schlos opened #9 "Add default categories via Admin"
**Is your feature request related to a problem? Please describe.**

Depends on:
- Default categories to report issues #8

**Describe the solution you'd like**

Create configuration for default categories on Popravi.to.

**Describe alternatives you've considered**

n/a

**Additional context**

n/a

[2021-01-03 23:12] schlos opened #10 "Initial import of public authorities and their contacts via Admin"
**Is your feature request related to a problem? Please describe.**

n/a

**Describe the solution you'd like**

Investigate import process and CSV import template.
Create CSV file with all cities and municipalities in Croatia with their generic / default email contacts from TJV register.

**Describe alternatives you've considered**

n/a

**Additional context**

Find cities and municipalities contac

[2021-01-03 23:16] schlos opened #11 "Investigate contacts for communal issues at local authorities (cities and municipalities)"
**Is your feature request related to a problem? Please describe.**

This is enhancement for default contacts:
- Initial import of public authorities and their contacts #10

**Describe the solution you'd like**

Some cities and municipalities have dedicated email contacts for communal issues reporting.
Investigate using Google search which have dedicated contacts and fill them in this Google Form:

[2021-01-03 23:19] schlos opened #12 "Reconcile dedicated communal contacts with default and update via Admin (or CSV import)"
**Is your feature request related to a problem? Please describe.**

This is following after:
- Initial import of public authorities and their contacts via Admin #10
- Investigate contacts for communal issues at local authorities (cities and municipalities) #11

**Describe the solution you'd like**

Check contacts that our data investigators found for dedicated communal contacts and reconcile it wi

[2021-01-04 11:45] schlos opened #13 "Theme and template development for Popravi.to"
**Is your feature request related to a problem? Please describe.**

Precondition is:
- Logo design Popravi.to help wanted #3
- Website design for Popravi.to #5

**Describe the solution you'd like**

Follow website design as done by designer with #5 and develop it in the Popravi.to theme and template assets. See below example assets.

See theme assets for fixmystreet.com:
- https://github.com/codef

[2021-01-06 20:46] schlos opened #14 "Enhance Popravi.to FAQ page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

- [ ] Simple FAQ page on HR (example: https://fixmystreet.brussels/faq)
- [ ] Add OSM license and attribution: https://www.openstreetmap.org/copyright

**Describe alternatives you've considered**

**Additional context**

You almost certainly need to re-write the FAQ and other information pages

[2021-02-17 15:59] schlos opened #16 "Ideja: custom dizajn OSM karte"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Dizajnerice su dale ideju da bi mogli sloziti drugaciji stil karte.

**Describe alternatives you've considered**

**Additional context**

Resursi koje sam nasao:
- https://wiki.openstreetmap.org/wiki/Stylesheets
- https://github.com/mysociety/fixmystreet/blob/f32e0900dd8c0a97c2b2214c973394e1fd

[2021-02-17 16:13] schlos opened #17 "Config: Investigate how to skip Around location result list and skip to map directly"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

![Screenshot from 2021-02-17 17-13-21](https://user-images.githubusercontent.com/1014134/108232890-83a04b80-7143-11eb-9d4d-386ac1c21dce.png)

[2021-03-03 08:18] not-alpha commented on #5
- [x] Login
- [x] Homepage
- [x] Report a problem
- [x] All reports
- [x] Local alerts
- [x] My profile
- [x] Help
- [x] Privacy
- [x] Contact
- [x] Promotion

[2021-03-03 16:26] schlos commented on #17
To je kontrolirano u fajlu:

/var/www/popravi.to/fixmystreet/templates/web/base/around/**_error_multiple.html**

pa samo treba vidjeti kako su to u FixMyStreet temi rijesili da odmah ide na kartu.

[2021-04-11 15:39] barbaraperic opened #18 "Global styles"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**A

[2021-04-11 17:28] barbaraperic opened #19 "Global styles [layout, colours, typography]"
Insert general global styles to web/cobrands/popravito/_global_styles.scss file.

[2021-04-11 17:33] barbaraperic opened #20 "[components] Buttons"
![Screenshot 2021-04-11 at 19 30 49](https://user-images.githubusercontent.com/50910606/114314806-847aab80-9afc-11eb-8a18-dec9ebfc8f39.png)

**Additional context**
Create primary, secondary and tertiary button component style and its states (focus, hover, disabled).

[2021-04-11 17:34] barbaraperic opened #21 "[component] NavBar"
![Screenshot 2021-04-11 at 19 33 39](https://user-images.githubusercontent.com/50910606/114314888-d7ecf980-9afc-11eb-9677-6b8091eac072.png)

**Additional context**
Create navigation bar styling

[2021-04-11 17:35] barbaraperic opened #22 "[component] Input Field"
![Screenshot 2021-04-11 at 19 35 10](https://user-images.githubusercontent.com/50910606/114314930-0965c500-9afd-11eb-9842-ab27463942f2.png)
**Additional context**
Create input field and dropdown styling

[2021-04-11 17:36] barbaraperic opened #23 "[components] List item"
![Screenshot 2021-04-11 at 19 36 09](https://user-images.githubusercontent.com/50910606/114314957-2dc1a180-9afd-11eb-9e11-54db2d916b26.png)

**Additional context**
Create list items styling

[2021-04-11 17:38] barbaraperic opened #24 "[component] Modal"
![Screenshot 2021-04-11 at 19 37 49](https://user-images.githubusercontent.com/50910606/114315058-79744b00-9afd-11eb-8467-68ec86544ee0.png)

**Additional context**
Modal styling

[2021-04-11 17:39] barbaraperic opened #25 "[component] Drag and drop"
![Screenshot 2021-04-11 at 19 37 43](https://user-images.githubusercontent.com/50910606/114315082-8f820b80-9afd-11eb-9020-5079d53e2d0c.png)

**Additional context**
Drag and drop styling

[2021-04-11 17:39] barbaraperic opened #26 "[component] Loading bar"
![Screenshot 2021-04-11 at 19 37 28](https://user-images.githubusercontent.com/50910606/114315112-ab85ad00-9afd-11eb-91f4-cd8ca8725005.png)

**Additional context**
Loading bar styling

[2021-04-11 17:40] barbaraperic opened #27 "[component] Map"
![Screenshot 2021-04-11 at 19 37 37](https://user-images.githubusercontent.com/50910606/114315128-bdffe680-9afd-11eb-89ed-7ee65d1a66e8.png)

**Additional context**
Map styling

[2021-05-19 14:17] not-alpha commented on #7
@schlos, do we need this as well? If so, I can work on that next

[2021-05-19 14:20] not-alpha commented on #4
@schlos, are we going to have these materials? If yes, which ones?

[2021-05-19 15:36] schlos commented on #4
@not-alpha yes, we can start working on these promotional materials.

Can we start with print materials (like example on https://www.fixmystreet.com/about/posters), so:
- A4 poster
Ideal for a noticeboard at work, in the library, corner shop… wherever your community will see it.
- A5 flyers (2 to a sheet) - same image like on A4, just scaled down to A5
Perfect for handing out to friends or posting

[2021-05-19 16:01] schlos commented on #7
This is next in line after #4

Jamboard (internal) that we can use for this:
https://jamboard.google.com/d/1lBIxEG0dyuFmdfQLtZYG1gOHW9N0uEFNfmtEOknupdk/viewer?f=0

[2021-05-20 07:38] schlos commented on #9
DB Fiddle example with parent category in the EXTRA field:
https://dbfiddle.uk/?rdbms=postgres_10&fiddle=c78cf3156f601e5ac1d8673eb8002828

Thanks to Dejan for help in fixing this dbfiddle!

[2021-05-20 07:38] #9 closed, assigned to schlos

[2021-05-20 11:04] schlos commented on #10
Od [22. ožujka 2021.](https://diskurs.codeforcroatia.org/t/kick-off-za-popravi-to-fixmystreet-projekt-u-hr-za-prijavu-problema-na-javnoj-infrastrukturi/492/19?u=schlos) krenuli smo s Popravi.to Beta. Ovaj ciklus testiranja Popravi.to portala krećemo sa **124 grada** i **30** najvećih **općina** u Hrvatskoj s 22 kategorije u kojima se problemi mogu prijaviti. Puni popis uključenih gradova i općina

[2021-05-20 11:04] schlos commented on #11
This phase of data investigation has been done.

[2021-05-20 11:04] #11 closed, assigned to nobody

[2021-05-20 11:07] schlos commented on #3
Done in Figma by @not-alpha

[2021-05-20 11:07] #3 closed, assigned to nobody

[2021-05-20 11:09] schlos commented on #5
Next on the list:
- Email designs (HTML) --> #28
- Admin pages --> #29

[2021-05-20 19:43] schlos opened #28 "Email designs for Popravi.to"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Email design should follow same design as done in Figma for Website design for Popravi.to #5.

**Describe alternatives you've considered**
A

[2021-05-20 19:46] schlos opened #29 "Admin pages design for Popravi.to"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Admin pages should follow same design like done in Figma for Website design for Popravi.to #5.

**Describe alternatives you've considered**

[2021-05-20 19:47] schlos commented on #5
Closing this as we're done with initial Figma design. See linked issues for the next steps.

[2021-05-20 19:47] #5 closed, assigned to nobody

[2021-06-09 15:40] schlos opened #30 "Microsite to register for notification when we are Live"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Create Microsite to register for notification when we are Live

- [x] Create Google forms (Miroslav)
- [x] Create Microsite HTML page (Barba

[2021-06-10 06:57] schlos commented on #30
Google forms, done:
https://forms.gle/wuKdDDL4ZoXk1Gwr8

[2021-06-10 07:04] schlos commented on #30
Integrate Google Form to our static HTML site, guidelines: https://www.developerdrive.com/add-google-forms-static-site/
or https://stackoverflow.com/a/45009023

[2021-06-10 07:40] barbaraperic commented on #30
[image: Screenshot 2021-06-10 at 09.37.44.png]

Ok super, landing page je vise manje gotov, samo trebam formu dodati, ali
izgleda da nemam permission?

On Thu, Jun 10, 2021 at 9:04 AM Miroslav ***@***.***> wrote:

--
mob: +385 91 908 3329
LinkedIn <https://uk.linkedin.com/in/barbaraperic>

[2021-06-10 13:48] schlos commented on #30
repo https://github.com/barbaraperic/popravi.to-landing_page

[2021-06-11 10:24] schlos commented on #30
Fork: https://github.com/codeforcroatia/popravi.to-coming-soon
Web: https://dev.codeforcroatia.org/popravi.to-coming-soon

[2021-06-11 10:35] schlos commented on #30
Redirect is done:

http://popravi.to --> https://dev.codeforcroatia.org/popravi.to-coming-soon

[2021-06-11 10:35] #30 closed, assigned to schlos, barbaraperic

[2021-07-04 17:28] schlos opened #33 "2fa - two-factor authentication screens for Popravi.to"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Screens missing from original Popravi.to Figma designs are related to two-factor authentication (2fa):
https://github.com/codeforcroatia/pop

[2021-07-05 05:30] schlos opened #34 "Show to user this is HR site - using front.js"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

See example in https://github.com/mysociety/fixmystreet/blob/cb4f2b96364d151988b5c664888468b25cc62240/web/cobrands/fixmystreet.com/front.js

[2021-07-14 10:03] schlos opened #35 "Create multi-step new report form (FMS v4.0)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is; e.g. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

See https://groups.google.com/a/mysociety.org/d/msgid/fixmystreet/CAKs8PY2aZAWUnNFHsiuxF3RAFtJOgs4se0hBB3VfKKTpNgJO2Q%40mail.gmail.com

**De

[2021-07-29 19:22] schlos opened #37 "[EPIC] Issues found in popravitobase cobrand (by Kostya)"
List of issues:

- [x] #38
- [x] #39
- [x] #41
- [x] #42
- [x] #43
- [x] #44
- [x] #45
- [x] #48
- [x] #49
- [x] #50
- [x] #51
- [x] #52
- [x] #53
- [x] #54
- [x] #55
- [x] #56
- [x] #57

And additional issues after first bugfixing iteration:

- [x] #58

[2021-07-29 19:27] schlos opened #38 "popravitobase: URL is hardcoded"
**Describe the bug**
URL of a website is hardcoded, e.g. `http://popravito.localhost/`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
URL should be dynamic using template variables, for example like done here:
https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/base/header_logo.ht

[2021-07-29 19:38] schlos opened #39 "popravitobase: cobrand name in a path is hardcoded"
**Describe the bug**

Cobrand name `popravito` is hardcoded in a filepath, e.g.
`<script src="/cobrands/popravito/hamburger.js?0"></script>`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Cobrand name should be dynamic using provided template variables, using `[% c.cobrand.moniker %]` in a place whe

[2021-07-29 19:42] schlos opened #40 "Popravi.to OpenGraph image"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

When sharing Popravi.to links, OpenGraph image will be shown in places where problem image is not available. This is bigger image than logo that visually represent a product or a website.

**Describe alternatives you've considered**

**Additional context**

Default example from FixMyStreet des

[2021-07-29 19:56] schlos opened #41 "popravitobase: Font is not properly loaded"
**Describe the bug**

Seems that our font is not loaded, like seen on frontpage image:
https://snippyly.com/img/?q=QCdujB2MiUsjiZJLYbtd

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Font should be displayed like on Figma design:
https://snippyly.com/img/?q=qlMSHuXDuCaapiA0oFgu &EDIT=ZxjhGaHP7IrjQUV

[2021-07-29 20:01] schlos opened #42 "popravitobase: Frontpage image cut when multiple address options are displayed"
**Describe the bug**

Frontpage image gets cut with whitespace when multiple address options are displayed, like marked on screenshot:
https://snippyly.com/img/?q=tqY4aqEyoVPfrOGcqhgh

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information

[2021-07-29 20:04] schlos opened #43 "popravitobase: Local alerts page has layout issues /w overlapping"
**Describe the bug**

Local alerts page has overlapping issues in a layout, as displayed on a screenshot:
https://snippyly.com/img/?q=UPcaYsH4g3sCofDk7uby

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma:
https://snippyly.com/img/?q=rOZ9bu6jApqtDNaG8w0z &EDIT=gZFfVGaDfUGWXvMIz0Qd

**Scree

[2021-07-29 20:10] schlos opened #44 "popravitobase: Footer images are not displayed"
**Describe the bug**

Footer images are not displayed (popravi.to logo, fixmystreet logo, and codeforcroatia logo), like marked on a screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma:
https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=543%3A5651&scaling=min-z

[2021-07-29 20:21] schlos opened #45 "popravitobase: My profile map leak and icons list/map missing"
**Describe the bug**

On My Profile page, I see narrow map (maybe due to different screen size?) and I do not see list/map icnos to switch between views, see screenshot.

Mind that it might be related to JS cobrand name issue because I'm loading from "popravitobase" cobrand and one JS had hardcoded "popravito" (hamburger.js). This might need to be tested again once cobrand in JS path is made dynam

[2021-07-30 09:01] schlos opened #46 "Register/Login form - reveal password does not work (🅼2)"
**Describe the bug**

On Register from eye icon (revel password) does not work:
https://snippyly.com/img/?q=kyPwKSXxMjhi9PPr1SRg

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

When eye icon is clicked, password should be revealed.

**Screenshots**

**Desktop (please complete the following informatio

[2021-07-30 09:09] schlos opened #47 "Register/Login form field not outlined in red on error (🅼2)"
**Describe the bug**

On Register/Login screen, on error field is not outlined in red.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

On error, proper field should be outlined in red (i.e. username or password).

**Screenshots**

LEFT is FIGMA (expected) and RIGHT is actual web theme (current):

![S

[2021-07-30 09:17] schlos opened #48 "popravitobase: Homepage steps and statistics layout issue"
**Describe the bug**

Steps and statistics on homepage has issue with layout (differs from design).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Layout should be as per [Figma screen](https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=543%3A5651&scaling=min-zoom&page-id=543%3A56

[2021-07-30 09:30] schlos opened #49 "popravitobase: Report location (1st step) missing elements and font issue"
**Describe the bug**

On report location page (1st step in report a problem), there are multiple issues:
- above title, progress bar element is missing
- title/text has wrong font
- below title, a new paragraph text is missing
- below paragraph link with pin icon is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2021-07-30 13:00] schlos opened #50 "popravitobase: Responsivness issues on tablet devices"
**Describe the bug**

Web theme cobrand "popravitobeta" has a responsivness issues on tablet device.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per [Figma designs](https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=543%3A5768&scaling=min-zoom&page-id=543%3A5650&hide-ui=1).

[2021-07-31 05:55] schlos opened #51 "popravitobase: Report a problem (2nd step) missing elements and font issue"
**Describe the bug**

Report a problem screen (2nd step) is missing elements and font issue:
- missing progress bar on top
- title/text font is wrong
- category and subcategory dropdown is too narrow
- category and subcategory font color is wrong
- 'Summarize the problem', 'Photos' and 'Explain what's wrong' are missing (i) icon
- 'e.g.' text under 'Explain what's wrong' should be located under th

[2021-07-31 06:15] schlos opened #52 "popravitobase: Report a problem (3rd step) missing elements and font issues"
**Describe the bug**

Report a problem (3rd step in a wizard) is missing elements and has font issues:
- missing progress bar on top
- unexpected part with report details
- 'Edit report details' link has to be "Back" button
- title/text font issue
- text boxes labels on wrong location
- checkbox wrong design and size
- "Back" button on bottom of page is missing
- "Submit" button is missing a symbo

[2021-07-31 06:22] schlos opened #53 "popravitobase: Top menu issues - dark 'Report an problem' and underlined current page"
**Describe the bug**

Top menu issues:
- missing dark 'Report an problem'
- missing underlined current page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Top menu:
- has always dark 'Report an problem' link
- has underlined only current page

**Screenshots**

Current problem (web cobrand "popravit

[2021-07-31 06:23] schlos commented on #53
@not-alpha is my understanding of Figma design correct that underlined link in top menu is always showing only current page?

[2021-07-31 06:43] schlos opened #54 "popravitobase: All reports dashboard page layout and font issues"
**Describe the bug**

Issues found on 'All reports' dashboard page:
- in general: fonts issue
- title is not expected to be there
- 'Show reports in your area' box wrong location
- search box inside 'Show reports in your area' box is missing icon (magnifying glass) and label in search box is missing
- 'All time' report statistics above graph has layout issue
- 'Last 7 days' statistics is in wrong

[2021-07-31 06:56] schlos opened #55 "popravitobase: Local alerts page layout and font issues"
**Describe the bug**

Local alerts page issues:
- in general: layout is wrong (width of page content)
- in general: font styling is wrong
- location search box is missing symbol and label inside the text box
- Automatic geolocation text below search box is missing symbol and has wrong styling
- Space between page content and footer is to small
- unexpected part with reports photos is displayed

**

[2021-07-31 07:03] schlos opened #56 "popravitobase: Local alerts details subscription page layout and font issue"
**Describe the bug**

Local alerts details subscription page issues:
- wrong layout
- wrong font styling

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Local alerts details subscription page fixes as per [Figma designs](https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=543%3A7236

[2021-07-31 07:07] schlos opened #57 "popravitobase: Your reports page layout and font issue"
**Describe the bug**

'Your reports' (My profile) page issues (see screenshots):
- wrong layout (map and list visible at the same time)
- wrong font styling

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

'Your reports' (My profile) page fixes - as per [Figma screens](https://www.figma.com/proto/OrvZ

[2021-07-31 07:18] not-alpha commented on #53
Yes, the underlined link in top menu is an indicator of the current page

[2021-07-31 17:41] not-alpha opened #58 "popravitobase: Margins not as expected"
**Describe the bug**
- Left and right margins are too wide (marked red on the photo below)
- Padding between top menu and title is too small (marked orange on the photo below)

**Expected behavior**
Left and right margins should be 120px on all pages ([Figma](https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=543%3A5651&scaling=min-zoom&page-id=543%3A5650&hide-ui=1))

**Screensh

[2021-07-31 18:22] not-alpha opened #59 "popravito: Homepage header - menu padding too big (🅼3)"
**Describe the bug**
Paddinzi u meniju su preveliki

**Expected behavior**
Za top menu:
Font size = 14px
Padding unutar svakog od menu itema je 8px s lijeve/desne strane
Razmaci između njih su 24px

Primjer u Figmi: https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=1909%3A9398

**Screenshots**
<img width="1280" alt="Screenshot 2021-07-31 at 20 22 06" src="https://user-images.git

[2021-07-31 18:28] not-alpha opened #60 "Homepage - padding between top menu and title"
**Describe the bug**
Ovo je više moja greška (sad tek vidim kad gledam na manjem ekranu) ali mi se čini kao easy fix pa molim te promjeni samo ako nije problem.

--> Razmak između top menija i naslova je prevelik.

**Expected behavior**
Padding između top menija i naslova neka bude 80px (grafiku desno isto pomaknuti)

**Screenshots**

<img width="1280" alt="Screenshot 2021-07-31 at 20 19 22" src="

[2021-07-31 18:36] not-alpha opened #61 "popravito: Homepage - circles not perfect (🅼3)"
**Describe the bug**
Circle shapes are not perfect circles

**Screenshots**
<img width="1280" alt="Screenshot 2021-07-31 at 20 29 21" src="https://user-images.githubusercontent.com/952710/127749483-b25febde-d468-4312-aedc-fa55e8f7aec1.png">

**Desktop (please complete the following information):**
 - OS: OSX
 - Browser: Firefox

[2021-07-31 18:43] not-alpha opened #62 "Login/registration - input fields (🅼2)"
**Describe the bug**
Stanja input fieldova:
Input field kad je u aktivnom stanju ima crni rub (#1D1C1C)
Također, dok je aktivan ili netko tipka label treba biti vidljiv unutar fielda (primjer desno)

**Expected behavior**
Primjer kako je trenutno i kako bi trebalo biti:
https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=1909%3A9262

**Desktop (please complete the following inform

[2021-08-05 18:36] schlos opened #64 "popravito: Menu does not work on some pages"
**Describe the bug**

Menu does not work on some pages (all pages except index does not work).
Reproducible on tablet, mobile and desktop (with reduced browser size).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![Screenshot_20210805-202223_Opera Touch.jpg](https://user-images.git

[2021-08-07 22:20] schlos opened #65 "popravito: Menu openes low on page in some cases (🅼2)"
**Describe the bug**

Menu openes low on page in some cases, for example on homepage, middle of page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Should open always on same/top screen location.

**Screenshots**

![Screenshot_20210808-001613_Opera Touch.jpg](https://user-images.githubusercontent.c

[2021-08-07 22:23] schlos opened #66 "popravito: Footer 'Report problem' link is wrong (🅼2)"
**Describe the bug**

Footer 'Report problem' link is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

It should open homepage.

**Screenshots**

![Screenshot_20210808-001356_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/128615189-7f175bf1-13f7-4cbc-8ee4-e113215e53b9.jpg)

[2021-08-07 22:28] schlos opened #67 "popravito: Local alerts page layout/design issues (🅼5)"
**Describe the bug**

Local alerts page layout/design issues - see screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma.

**Screenshots**

![Screenshot_20210808-002634_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/128615313-b10e70f5-46b7-45b0-8b37-3efd39c0ec9

[2021-08-07 22:40] schlos opened #68 "popravito: All reports / Dashboard layout and design issues (🅼5)"
**Describe the bug**

All reports / Dashboard layout and design issues - see screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma.

**Screenshots**

![Screenshot_20210808-001146_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/128615491-2433ac19-3a9d-4be0-b0ae-d

[2021-08-07 22:42] schlos opened #69 "popravito: Profile is missing pen icon (🅼4)"
**Describe the bug**

Add/edit mobile phone is missing pen icon.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per figma.

**Screenshots**

![Screenshot_20210807-235940_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/128615544-deda8b81-c48f-4369-acb1-74e62585d089.jpg)

**Deskt

[2021-08-07 22:48] schlos opened #70 "Improve accordion UX to signal that it's expanded or shrinked"
**Describe the bug**

Improve accordion UX to signal that it's expanded or shrinked.
Details in design TBD.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' My Profile
2. Click on '....' Accordion icon (arrow down)
3. See that content is hidden but accordion icon is not changed to indicate its been shrinked.

**Expected behavior**

Design TBD

**Screenshots**

![Screenshot_2021080

[2021-08-07 22:53] schlos opened #71 "popravito: FAQ page layout/design issues"
**Describe the bug**

FAQ page layout/design issues - see screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma

**Screenshots**

![Screenshot_20210808-004932_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/128615744-1858df35-9f85-453a-b93b-3729af7ad300.jpg)

![

[2021-08-07 22:56] schlos opened #72 "popravito: Contact us page layout/design issues (🅼5)"
**Describe the bug**

Contact us page layout/design issues - see screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma.

**Screenshots**

![Screenshot_20210808-005413_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/128615799-528bbb8a-819a-40fe-9558-76f174d1c5b7.

[2021-08-09 08:47] schlos opened #74 "popravito: Sign-out page has issue in layout - page margins (🅼2)"
**Describe the bug**

Sign-out page has issue with page margins - see screenshot.
Reproducible also after latest Pull Request - 3rd (# 73).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Make page content margins same as on any other page with text (i.e. like in Homepage).

**Screenshots**

https://

[2021-08-09 08:52] schlos commented on #47
Reproducible also after latest Pull Request - 3rd (# 73).

## Screenshots - Register page

Current:
https://snippyly.com/img/?q=6DUMwJ04c5DnYssHXSzc (&EDIT=ALGNYz8EAusfRmRzHT1X)

Expected:
(for error displayed - generic error; make both fields red)
https://snippyly.com/img/?q=5hfkCjFD9quEPQGA7epJ (&EDIT=cFBs1XhDZn91g5GA4LiZ)

## Screenshots - Login page

Current:
https://snippyly.com/img/?q=9pyuga

[2021-08-09 08:56] schlos commented on #46
Reproducible also after latest Pull Request - 3rd (# 73).

[2021-08-09 09:01] schlos commented on #64
Reproducible also after latest Pull Request - 3rd (# 73).

[2021-08-09 09:03] schlos commented on #65
Reproducible also after latest Pull Request - 3rd (# 73).

[2021-08-09 09:05] schlos commented on #66
Reproducible also after latest Pull Request - 3rd (# 73).

[2021-08-09 09:06] schlos commented on #67
Reproducible on all device sizes also after latest Pull Request - 3rd (# 73).

[2021-08-09 09:21] schlos commented on #70
@not-alpha stignes li pogledati pa dati svoj feedback ili savjet a ako stignes i mockup za ovo?

[2021-08-09 09:23] schlos commented on #71
Not reproducible after last Pull Request.

[2021-08-09 09:23] #71 closed, assigned to nobody

[2021-08-09 09:25] schlos opened #75 "popravito: FAQ page is missing footer (desktop) (🅼4)"
**Describe the bug**

FAQ page is missing footer only on desktop - footer is visible on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

FAQ bottom of page should show footer. Sorry if I gave wrong info in chat.

**Desktop (please complete the following information):**
 - OS:

[2021-08-09 09:33] schlos opened #76 "[EPIC] Issues found in popravito cobrand (by Silvija)"
List of issues:

### Milestone 1 - Convert Figma to HTML
- n/a

### Milestone 2 - Index i Login/Register
- [ ] #46
- [ ] #47
- [ ] #62
- [x] #65
- [x] #66
- [x] #74
- [x] #94

### Milestone 3 - Homepage search i Report problem
- [x] #59
- [x] #61
- [x] #86
- [x] #87
- [ ] #92
- [x] #95
- [ ] #96
- [ ] #97
- [ ] #98
- [ ] #99
- [x] #100
- [x] #103

### Milestone 4 - Profil/Detalji prijave i FAQ
- [

[2021-08-09 09:57] schlos commented on #38
Kostya feedback:
Probably, because we change files to have tfl.localhost and popravito.localhost I dont remember how to fix it

[2021-08-09 09:57] schlos commented on #39
Kostya feedback:
I did all like in example dont know

[2021-08-09 09:58] schlos commented on #41
Kostya feedback:
fixing

[2021-08-09 09:58] schlos commented on #42
Kostya feedback:
fixed

[2021-08-09 10:01] schlos commented on #42
OK, fixed.
Although now options are displayed below visible screen - probably needs to be redesigned (new GH issue will be created for that).

[2021-08-09 10:01] #42 closed, assigned to nobody

[2021-08-09 10:02] schlos commented on #43
Kostya feedback:
Dont have this issue maybe smth happened on loading of the page

[2021-08-09 10:03] schlos commented on #44
Kostya feedback:
Same as #43
(can't reproduce)

[2021-08-09 10:06] schlos commented on #45
Kostya feedback:
Icons couldnt load because smth load faster CSS or JS cant be fixed with this structure of files, because JS should load at the bottom of project after all lazyloads and HTML DOM render HTML and CSS

[2021-08-09 10:07] schlos commented on #48
Kostya feedback:
That becuase design dont have Images ( I made them display:none)

[2021-08-09 10:07] schlos commented on #49
Kostya feedback:
fixed

[2021-08-09 10:10] schlos commented on #49
Still not fixed:
https://snippyly.com/img/?q=l0gIu3GrsZWXagKhrFr7 (&EDIT=EVASNQg6KJzmmDDy0Bdt)

[2021-08-09 10:11] schlos commented on #50
Kostya feedback:
Cant fix it, because when I fix it on mobile its breaks on tables and when I fix for tables it break mobile. I think most users will use mobile, so I dont change here anything

[2021-08-09 10:14] schlos commented on #51
Kostya feedback:
To fix [it] I need links to where can I create another page thats not connected and how to add jquery to fixmystreet

[2021-08-09 10:14] schlos commented on #52
Kostya feedback:
Cant comment out the back button is in this section and that why I cant position it in bottom
And because it would change with an language of user I didnt change it
Other fixed

[2021-08-09 10:16] schlos commented on #53
Kostya feedback:
Cant make to underline each page, because they did smth wrong and I cant attach to some attributes in HTML and in HTML is generated and cant add classes

[2021-08-09 10:16] schlos commented on #54
Kostya feedback:
With structure of files i cant make it like in Figma (I cant fix it)

[2021-08-09 10:18] schlos commented on #55
Kostya feedback:
cant make label and icon in the input

[2021-08-09 10:18] schlos commented on #56
Kostya feedback:
As I see: RSS i-email obavijesti... doesnt show by default and it will look like this

[2021-08-09 10:19] schlos commented on #57
Kostya feedback:
fixed

[2021-08-09 10:31] schlos opened #77 "Design for a questionnaire page"
**Is your feature request related to a problem? Please describe.**

Current questionnaire page on 'popravito' cobrand looks wrong:
http://dev.test.popravi.to/Q/ALAZbrEUZFNiD32pgA?been_fixed=No

**Describe the solution you'd like**

As per other cobrands.

**Describe alternatives you've considered**

**Additional context**

Example of questionnaire page:
![screencapture-beta-test-popravi-to-Q-ALAZb

[2021-08-09 10:33] schlos opened #78 "Implement by adding questionnaire page"
**Is your feature request related to a problem? Please describe.**

Current questionnaire page on 'popravito' cobrand looks wrong:
http://dev.test.popravi.to/Q/ALAZbrEUZFNiD32pgA?been_fixed=No

**Describe the solution you'd like**

See design #77 :
* Desktop: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2554%3A10305&scaling=min-zoom&page-id=25%3A186&hide-ui=1
* Mobile: htt

[2021-08-09 10:36] schlos commented on #43
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:37] schlos commented on #44
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:38] schlos commented on #45
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:39] schlos commented on #48
@not-alpha could you check to help Kostya with Figma?
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:41] schlos commented on #50
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:47] schlos commented on #52
@barbaraperic @reine93 could you review this (Back button) and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:48] schlos commented on #53
@not-alpha could you check if it's acceptable to change design requirements to go without underlined current page?
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:49] schlos commented on #54
@not-alpha could you check if we can change design requirements to fit what is possible to achieve by Kostya?
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 10:50] schlos commented on #55
@not-alpha could you check this to change design if current is not achievable by developer?
@barbaraperic @reine93 could you review this and give your feedback? Do you see this as easily fixable?

[2021-08-09 12:41] schlos commented on #38
### Problem:

Problem can be found in the popravitobase cobrand in this line https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravitobase/header_site.html#L4

### Solution:

And I already shared a solution in the description of Github ticket. Copying again:

That means that your code:
`<a href="http://popravito.localhost/">`
Should be replaced with:
`<a href="[% c.cobrand.

[2021-08-09 12:52] schlos commented on #39
I'm sorry if I was not clear. I did gave example from the original code.

Wherever you need to use name of a cobrand i.e. theme folder name, use dynamic template variable`[% c.cobrand.moniker %]`, for example:

- example current code: <script src="/cobrands/popravito/hamburger.js?0"></script>
- example expected code: <script src="/cobrands/[% c.cobrand.moniker %]/hamburger.js?0"></script>

In your

[2021-08-09 13:13] schlos commented on #51
Let's break it down:
1) _"To fix [it] I need links to where can I create another page thats not connected"_
- Why is this needed?
- You mean how to create another *.html page?
- What you mean by "not connected"?
- And how do you plan to use this new page?

You create new page like this:
`sudo -u fms touch new_page.html`

And here is instruction how to include content of that page to another page:

[2021-08-09 13:44] schlos commented on #56
I don't understand. Can you please give more detailed feedback?

This is first screen where you enter the city name:
- in Croatian https://snippyly.com/img/?q=NSJE0pXcXuX5BndWrVAi (&EDIT=eYMBDlTmO086EKxrEBdz)
- in English https://snippyly.com/img/?q=JdY6UedBDsIEcQWPbSaN (&EDIT=9dbrjnuxOEG8h1l7fGYg)

After you select city name, you then see this screen - current:
- in English https://snippyly.com/i

[2021-08-09 13:52] schlos commented on #57
Still not fixed.

Current - after first bugfixing iteration:
https://snippyly.com/img/?q=kH8QzPdogu3Cn3jhm1Qs (&EDIT=E5P6Yoi5nH7ltMFtGLJO)

Expected - as per Figma design:
- List view - https://snippyly.com/img/?q=oi9pNZWfcy5wpIe6D7t7 (&EDIT=dPbfQrLSXblyZ35qu8D8)
- Map view - https://snippyly.com/img/?q=ks1BQIuYsGtpJ9clr5gj (&EDIT=b31tey9W1P6lrToRssXV)

[2021-08-09 14:03] schlos commented on #37
Project kanban board: https://github.com/codeforcroatia/popravi.to/projects/7

[2021-08-09 14:16] schlos opened #79 "2fa screens implementation for Popravito"
**Is your feature request related to a problem? Please describe.**

Depends on design: 2fa - two-factor authentication screens for Popravi.to #33

**Describe the solution you'd like**

Screens missing from Popravi.to are related to two-factor authentication (2fa) - base code:
https://github.com/codeforcroatia/popravi.to/tree/develop/templates/web/base/auth/2fa

**Describe alternatives you've consi

[2021-08-09 14:19] schlos opened #80 "popravito: Implement OpenGraph"
**Is your feature request related to a problem? Please describe.**

Depends on design provided in: "Popravi.to OpenGraph image" #40

**Describe the solution you'd like**

Show correct OpenGraph based on page content.
When sharing Popravi.to links, OpenGraph image will be shown in places where problem image is not available. This is bigger image than logo that visually represent a product or a webs

[2021-08-10 07:42] not-alpha commented on #55
If having both icon and label inside input field is problem we can keep just label.

[2021-08-10 07:46] not-alpha commented on #54
Please ask Kostya to provide more detailed feedback and specify what is causing problem so we can come up with a workaround

[2021-08-10 07:49] not-alpha commented on #53
We can go without underline under current page but we need some indicator. If underline is not possible we can change text color of the menu item for current page to orange

[2021-08-10 16:29] schlos commented on #69
Popravljeno sa PR #81

Screenshot:
https://snippyly.com/img/?q=kTd8reej0wufTPhVGIBZ

[2021-08-10 16:29] #69 closed, assigned to nobody

[2021-08-10 16:31] schlos commented on #75
Popravljeno sa PR #81

Screenshot:
https://snippyly.com/img/?q=3lB92hDOgULajGf5tWVU

[2021-08-10 16:31] #75 closed, assigned to nobody

[2021-08-10 16:56] schlos opened #82 "Design for administrator pages"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Design for administrator pages, based on existing Popravi.to Figma designs.

**Describe alternatives you've considered**

**Additional context**

Ping me when you start working on it and I'll provide some screenshots.

[2021-08-10 16:57] schlos opened #83 "popravito: Implement administrator pages"
**Is your feature request related to a problem? Please describe.**

Depends on #82.

**Describe the solution you'd like**

As per Figma design.

**Describe alternatives you've considered**

**Additional context**

[2021-08-10 17:03] kostyakazmiruk commented on #53
There is no problem to make underline text or make it become orangem, that's the structure. For example, when I am on Local Alerts page in nav local alerts are span element, but sometimes its li

[2021-08-10 17:13] kostyakazmiruk commented on #54
![image](https://user-images.githubusercontent.com/53175180/128904295-dc13448d-ffb1-4bb9-82e5-42562d076d91.png)
Because they are in different dashboard-rows I cant wrap them add grid and make it like in Figma

[2021-08-10 17:14] schlos commented on #54
This is I think more question for developers - @barbaraperic @reine93 can you take a look?

[2021-08-10 17:29] schlos commented on #59
This is marked as fixed by Silvija in PR #81 & #91
@not-alpha can you take a look and verify fix on our test URL?

[2021-08-10 20:42] schlos opened #84 "Add LinkedIn icon in the footer"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add LinkedIn icon in the footer.
https://www.linkedin.com/showcase/popravi.to

**Describe alternatives you've considered**

**Additional context**

[2021-08-10 20:45] schlos commented on #66
Also same button in top menu.

[2021-08-10 20:51] schlos opened #85 "Report details page layout on tablet (🅼4)"
**Describe the bug**

Report details page on tablet looks awkward:
- images overlap on map
- some page content is hidden behind the map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma.

**Screenshots**

![Screenshot_20210810-224735_Opera Touch.jpg](https://user-images.githubusercontent.c

[2021-08-10 20:53] schlos opened #86 "popravito: Report update page has issue with layout on tablet (🅼3)"
**Describe the bug**

Report update page on tablet looks awkward:
- images overlap on map
- some page content is hidden behind the map

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma guidelines.

**Screenshots**

![Screenshot_20210810-224827_Opera Touch.jpg](https://user-images.githubuse

[2021-08-11 14:49] schlos opened #87 "popravito: Report a problem form buttons mobile overflow (🅼3)"
**Describe the bug**

Report a problem form buttons goes outside of a screen on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma.

**Screenshots**

![Screenshot_20210811-164722_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/129051413-ab5b0c8b-56cd-4632-b699-cf7

[2021-08-11 14:57] schlos opened #88 "Improve sorting functionality design"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Improve sorting button/functionality:
- make it like Filter functionality (i.e. icon + label)

**Describe alternatives you've considered**

**Additional context**

Current screen:
![Screenshot_20210811-165406_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/129052795-2388710e

[2021-08-11 15:16] schlos opened #89 "My Profile - Report list - Improve design by adding report thumbnail"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Improve design by adding report thumbnail (when its available, otherwise show default image).

**Describe alternatives you've considered**

**Additional context**

Current design (no thumbnail):
![Screenshot_20210811-171303_Brave.jpg](https://user-images.githubusercontent.com/1014134/129055877

[2021-08-12 10:01] schlos opened #90 "Implement improved sorting functionality"
**Is your feature request related to a problem? Please describe.**

Depends on #88

**Describe the solution you'd like**

As per design in #88 - improved sorting button/functionality:
- make Sorting button and functionality same as Filter functionality (i.e. icon + label)

**Describe alternatives you've considered**

**Additional context**

[2021-08-12 10:09] schlos commented on #13
This is mostly done and tracked elsewhere.

[2021-08-12 10:09] #13 closed, assigned to nobody

[2021-08-12 10:11] schlos commented on #82
This is duplicate of "Email designs for Popravi.to" #28.
Closing.

[2021-08-12 10:11] #82 closed, assigned to not-alpha

[2021-08-12 10:15] schlos commented on #4
_Kopiram interne biljeske i ovdje da imamo sve na jednom mjestu._

Ideja postera/letaka je:
- prezentirati problem u sto manje rijeci gradjanima
- pokazati koje je rjesenje problema (prijavi na Popravi.to)

Otvorena pitanja:
1. Hocemo samo prevesti njihov i izmjeniti dizajn ili dodati neke crteze / skice da lakse objasnimo o cemu se radi?

2. Hocemo li napraviti par razlicitih postera/letaka gdje

[2021-08-12 10:16] schlos commented on #4
Vezano uz letke, ideja je da napravimo paket “print it yourself” i to paketi kao sto sam spomenuo: za aktiviste (koji nas zele podrzati), za lokalne inicijative, za skole (ucitelji/roditelji koji zele s djecom raditi mini akcije). Tako da ne bismo mi printali, i zato bismo radili jednostavne letke koje bilo tko moze isprintati kod sebe doma (ili u fotokopiraoni). Zato je ideja da vise velicina (A4

[2021-08-12 10:22] schlos commented on #4
Sinule su mi ideje (umjesto onih poop zastavica koje FMS ima):

1. Traka napravljena na A4 da si korisnici mogu izrezati i naljepiti selotepom na sporna mjesta (npr. samouprava ignorira i ne popravljaju - pa svi vide da je prijavljeno i ne popravlja se). Ne mora biti beskonacna, dovoljno je duzine A4 papira - po visini, mislim da je to 27 cm - cist dovoljno!
Po uzoru na crime scene traku / policij

[2021-08-12 15:02] schlos commented on #85
For comparison, this is how Report details screen looks with different theme cobrand:

![Screenshot_20210812-165757_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/129220236-b6008d72-3fe8-40ba-8dc6-c66c7fb01f8d.jpg)

![Screenshot_20210812-165811_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/129220304-c571fdae-1183-466b-b3b4-b7c0e2c7ea76.jpg)

![Screenshot_20

[2021-08-12 19:05] schlos commented on #61
@not-alpha this is marked as fixed by Silvija in PR 91. Can you take a look and add your findings here?

I can still see it's reproducible, for example:
https://snippyly.com/img/?q=5BX5vcb14uQplXr9HLeS (&EDIT=u7TRfGBaGRGYRVcGnJmy)

@SilvijaProzinger could you take a look this issue I found - can you reproduce it on your end?

[2021-08-12 19:12] schlos opened #92 "Subcategory is displayed even if there is no subcategory to pick (🅼3)"
**Describe the bug**

Subcategory is displayed even if there is no subcategory to pick.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Hide subcategory label when there is no content for sub-category dropdown.

**Screenshots**

https://snippyly.com/img/?q=QhlY6FvHUlQthOCNLXcW (&EDIT=gJxIQDiYhGEbS9Uy

[2021-08-12 19:15] schlos commented on #87
Fixed:

![Screenshot_20210812-211423_Chrome.jpg](https://user-images.githubusercontent.com/1014134/129255332-6968463f-73b3-48fe-98ea-abfc5e88ba87.jpg)

[2021-08-12 19:15] #87 closed, assigned to nobody

[2021-08-12 19:17] schlos commented on #74
Fixed:
https://snippyly.com/img/?q=R7mijn3wFJTShkEMGPbv (&EDIT=Gsby5JW6mWYGG9iINECl)

[2021-08-12 19:17] #74 closed, assigned to nobody

[2021-08-12 19:28] schlos commented on #55
@Green8888Elephant please take a look at last comment from Elizabeta. Can you do it like she suggested?

[2021-08-14 12:42] schlos commented on #61
Feedback Silvije:

Što se tiče buga #61, mislim da bi gumb za pretraživanje sad (nakon sljedeceg PR-a) trebao biti ok jer sam primjenila iste dimenzije i border radius kao u dizajnu, a što se tiče ovih krugova s brojevima nisu ni u dizajnu baš krugovi već više elipse budući da su brojevi "dugoljasti" pa ako budem primjenila padding koji bi ih oblikovao da bude bliže pravom krugu bit će preširoki.

[2021-08-15 16:23] schlos commented on #65
Fixed with #93

[2021-08-15 16:23] #65 closed, assigned to nobody

[2021-08-15 16:28] schlos commented on #66
Fixed with #93

[2021-08-15 16:28] #66 closed, assigned to nobody

[2021-08-15 16:35] schlos opened #94 "popravito: Make numbered steps with circles on homepage as fixed elements (images) (🅼2)"
**Describe the bug**

This is continuation on bug #61.
Circles are not real circle and they might change based on font or device.

Out of scope:
- continue buttons (>)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Suggestion is to try to make numbered circles in homepage steps as image so that way

[2021-08-15 16:36] schlos commented on #61
Marked circles from original description looks fixed (> and 1), but I think that 2, 3, 4 circles are a bit oval.

I will create new task to try to solve this in another manner --> #94

@not-alpha please retest this and comment here your test findings for reported items: (>) and (1)

[2021-08-15 16:36] #61 closed, assigned to nobody

[2021-08-15 16:47] schlos commented on #86
Not fixed with #93, still reproducible:
- update form is overlayed with map

![Screenshot_20210815-184510_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/129485966-e8b386ad-38a3-411e-b6fc-45db96cdc431.jpg)

[2021-08-15 19:41] schlos opened #95 "Uploaded images XO icons don't work (🅼3)"
**Describe the bug**

When reporting a problem, user can upload up to 3 images (as per current configuration).

Uploaded images have 2 icons below then, but they do not work (nothing happens when clicked)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

![Screenshot_20210815-213738_Op

[2021-08-15 19:48] schlos opened #96 "Error on all fields after closing (i) modal on Report problem form (🅼3)"
**Describe the bug**

Error is displayed on all fields after closing (i) modal on Report problem form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' Report problem flow
2. Click on '....' (i) icon next to "Report your problem" title
3. Close modal (click x)
4. See error

**Expected behavior**

No error should be displayed at this point because user didn't submit form yet. Form

[2021-08-15 20:07] schlos opened #97 "Missing back buttons to the Report problem screens on mobile (🅼3)"
**Describe the bug**

Add missing back buttons to the Report problem flow.

Known bug, feedback from Silvija with PR 93:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

Expected: Comparison back button behaviour in 'fixmystreet' cobrand (master branch, new sw, with multistep):

![Scr

[2021-08-16 08:12] schlos opened #98 "Around map is flowing outside of screen at the bottom (🅼3)"
**Describe the bug**

In the first report step (select location on a map, 'around' functionality), the map has fixed size and on some screens it's overflowing outside of the screen at the bottom.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

It's expected that map does never stretch outside of the

[2021-08-16 08:16] schlos opened #99 "Report problem form field not outlined in red on error (🅼3)"
**Describe the bug**

Report problem form field not outlined in red on error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per figma (see error fields), see also #47.

**Screenshots**

https://snippyly.com/img/?q=l2TmV5B05SlTLwoXa3fF (&EDIT=d8dpePEbRDyVpJHYNyEp)

**Desktop (please complete the

[2021-08-16 08:28] schlos opened #100 "popravito: Report problem flow wrong content in final step (🅼3)"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma (see screenshot).

**Screenshots**

- current problem (full screen):

![screencapture-dev-test-popravi-to-report-new-2021-08-16-10_20_15](https://user-images.githubusercontent.com/1014134/129534014-054fb165-9c8c-4c51-a8

[2021-08-23 20:40] schlos commented on #85
Partially fixed with the latest PR:

- Looks better, although text "Sent to Grad Zagreb 4 minutes later" is still partially covered by map (on tablet):

![photo_2021-08-23 22 39 42](https://user-images.githubusercontent.com/1014134/130516350-36e6dd2b-3fe3-4995-81f8-dcccde190bf4.jpeg)

![photo_2021-08-23 22 39 48](https://user-images.githubusercontent.com/1014134/130516358-586b0842-577a-4156-aa2e-8

[2021-08-23 20:44] schlos commented on #86
Fixed with latest PR:

![photo_2021-08-23 22 44 13](https://user-images.githubusercontent.com/1014134/130516857-978abdeb-3704-4db2-83f5-e87655293378.jpeg)

[2021-08-23 20:44] #86 closed, assigned to nobody

[2021-08-23 20:46] schlos commented on #94
Fixed with the latest PR:

![photo_2021-08-23 22 46 04](https://user-images.githubusercontent.com/1014134/130517084-6476af79-67d6-4a59-adaf-308930064220.jpeg)

Desktop:
https://snippyly.com/img/?q=nZDz3QOiDHQugj4E84Jr (&EDIT=jCZKfTEeyJCFKXF68Xi6)

@not-alpha please review numbered steps when you have chance.

[2021-08-23 20:46] #94 closed, assigned to nobody

[2021-08-23 20:52] schlos commented on #97
Partially fixed with the latest PR:

- Back button is added to the final (3rd) step/screen in Report a problem flow:

![photo_2021-08-23 22 51 23](https://user-images.githubusercontent.com/1014134/130517771-0601ff78-1215-4657-8f56-320679547190.jpeg)

- Back button is missing in the 1st and 2nd steps:

![photo_2021-08-23 22 51 28](https://user-images.githubusercontent.com/1014134/130517807-323d1719

[2021-08-23 20:57] schlos commented on #100
Partially fixed with latest PR:

- title "Prijavite svoj problem:" should be replaced with "Tell us about you", see screenshot:

https://snippyly.com/img/?q=hsHydSL5Ss6jyObvRz0H (&EDIT=nJmFLxF0lqZ74Cgm2PST)

[2021-08-24 06:09] schlos opened #102 "Develop Alerts/Subscribe, Contact & All Reports pages"
**Is your feature request related to a problem? Please describe.**

**Milestone 5 - Alerts/Subscribe i Kontakt + Dashboard (All reports) pages**

**Describe the solution you'd like**

As per Figma design: https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to

**Describe alternatives you've considered**

**Additional context**

Gists with base template code for these pages:
* Contact page: h

[2021-08-26 16:06] not-alpha commented on #59
This issue (paddings between menu items) has been fixed but I think that something got messed up in the process. The menu items are not centered in relation to the logo (image below)

<img width="1280" alt="Screenshot 2021-08-26 at 18 00 05" src="https://user-images.githubusercontent.com/952710/130997153-28e8f9ee-7dad-4aac-8237-8fc9078aed76.png">

[2021-08-26 16:17] schlos opened #103 "popravito: Homepage header - menu items are not centered horizontally (🅼3)"
**Describe the bug**

Reported by @not-alpha in relation to #59:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

<img width="1280" alt="Screenshot 2021-08-26 at 18 00 05" src="https://user-images.githubusercontent.com/952710/130997153-28e8f9ee-7dad-4aac-8237-8fc9078aed76.png">

**Des

[2021-08-26 16:19] schlos commented on #59
Issue is fixed as per @not-alpha comment:

New bug that @not-alpha found will be tracked in #103

[2021-08-26 16:19] #59 closed, assigned to not-alpha

[2021-08-26 18:48] schlos commented on #102
@barbaraperic please preuzmi ova 3 pagea za implementaciju. Napravi form projekta, pa developaj na forkanom projektu kod sebe pa kada si gotova, posalji Pull Request.

Na linlku se nalazi zavrsen HTML od Silvije koji sadrzi ta 3 pagea: https://drive.google.com/file/d/1wS_feNEopHBk9Ji2u66Bex3okye27azd/view?usp=sharing (link content shared internally only)

Ako imas pitanja, pisi meni i/ili Silviji.

[2021-08-30 15:31] schlos commented on #102
Handover biljeske od Silvije za ovaj preostali, zadnji milestone:

[2021-08-30 16:02] schlos commented on #38
Tested, confirmed fixed

[2021-08-30 16:02] #38 closed, assigned to nobody

[2021-08-30 16:04] schlos commented on #39
Comment from Kostya:

[2021-08-30 16:14] schlos commented on #49
Still not fixed. This image marks what is still unfixed on this screen:
https://snippyly.com/img/?q=D1MgHqQt00nzkZ1Ep5xN &EDIT=eW4N1bY0xvdkFa1XPC7k

[2021-08-30 16:26] schlos commented on #51
Not fixed still. See comments on screenshots:

https://snippyly.com/img/?q=f6lH994reiBVC03H2z3j &EDIT=L87fG1K2kEIdGEvd46ax
https://snippyly.com/img/?q=Ib7HUCFzw1STqyPb2a2E &EDIT=eIVkXHTNwxaZDChBHeCu

[2021-08-30 16:27] schlos commented on #56
Comment from Kostya:

[2021-08-30 16:29] schlos commented on #57
Kostya feedback:

[2021-08-30 16:33] schlos commented on #57
Not fixed.

[2021-08-30 16:33] schlos commented on #39
Not fixed yet.

[2021-08-30 16:34] schlos commented on #56
Not fixed yet

[2021-08-30 17:09] schlos commented on #102
Note to self

To be retested when this is done:
  - [ ] #67
  - [ ] #68
  - [ ] #72

[2021-08-31 06:09] schlos commented on #43
Still not fixed:
https://snippyly.com/img/?q=GFW2DzwC5KgabVh0aC22 &EDIT=kqbKC3so0tTXdyy9qZlO

[2021-08-31 06:55] schlos commented on #44
Still not fixed:
https://snippyly.com/img/?q=RtMLQCgB98CoZsQr3FJh &EDIT=aBKnXlyLXJRz3Oe8g15Z

[2021-08-31 07:10] schlos commented on #45
Still not fixed:
https://snippyly.com/img/?q=eWk0VrRCsYe70Lqd687U &EDIT=by36ZsW75hPTiP4FsJX8

[2021-08-31 07:25] schlos commented on #48
@Green8888Elephant Kostya, could you give more information for our designer - which images are you missing?

[2021-08-31 07:31] schlos commented on #48
Latest status and my comments displayed on the popravitobase cobrand:
https://snippyly.com/img/?q=bPvzAD21ATizv4vE4BIi &EDIT=OSWuVG5H0DadWxbE8esF

[2021-08-31 07:43] schlos commented on #50
@Green8888Elephant Kostya, when page is made responsive, it will be displayed properly on any screen size (including mobile and tablet). Can you take look at it again?

[2021-08-31 08:05] schlos commented on #52
Still not fixed:
https://snippyly.com/img/?q=tXEg6ktLcYwCGekm7I4e &EDIT=so18YqvGRccexteAUygj

[2021-08-31 12:40] barbaraperic commented on #102
Hej Miro,

Htjela bih vidjet jesam li na dobrom putu za Contact page - da napravim PR
pa ti mergas? Jesmo tako bili dogovorili, sorry zab sam?

On Mon, Aug 30, 2021 at 7:09 PM Miroslav ***@***.***> wrote:

--
mob: +385 91 908 3329
LinkedIn <https://uk.linkedin.com/in/barbaraperic>

[2021-08-31 13:47] schlos commented on #102
Hej @barbaraperic ,
dobro si razumjela. Prvo napravi klon ovog naseg repoa, pa komitas promjene u svoj repo i onda napravis Pull Request na ovaj repo.

Ako ti treba pomoc oko koraka / flowa, javi mi pa mozmeo meet napraviti.

Pozz

[2021-08-31 15:16] schlos commented on #53
Not fixed:
https://snippyly.com/img/?q=qP2oJSl0LW0xFIpSuTUw &EDIT=U2vLQtauO7Q5XfMvuC0Z

Expected:
as per [Figma](https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=543%3A5651&scaling=min-zoom&page-id=543%3A5650&hide-ui=1) + effect on mouse hover (underline or alternatively change text color)

@Green8888Elephant, our developer confirmed it should not pose a problem to fix this, b

[2021-08-31 15:29] schlos commented on #55
Still not fixed.

[2021-08-31 15:57] schlos commented on #58
Not fixed yet.

[2021-08-31 16:47] barbaraperic commented on #102
Hm izgleda da nemam permission?

[image: Screenshot 2021-08-31 at 18.44.49.png]

On Tue, Aug 31, 2021 at 3:47 PM Miroslav ***@***.***> wrote:

--
mob: +385 91 908 3329
LinkedIn <https://uk.linkedin.com/in/barbaraperic>

[2021-08-31 16:51] schlos commented on #102
@barbaraperic ajmo se cuti na Google Meet. Poslao sam ti invite na email. Ja sam vec u callu.

[2021-08-31 17:39] schlos commented on #54
Hi Kostya @Green8888Elephant

Here is feedback I received from @barbaraperic

[2021-08-31 20:55] not-alpha commented on #77
@schlos here is the design for the questionnaire page - https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2554%3A10305

I thought that maybe it would be better if we give some context first (which problem) and then ask all the questions. I'm open to your feedback, let me know if we need to change something

[2021-08-31 21:03] schlos commented on #77
Looks good to me. Thanks!

Desktop: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2554%3A10305&scaling=min-zoom&page-id=25%3A186&hide-ui=1
Mobile: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2556%3A9929&scaling=min-zoom&page-id=25%3A186&hide-ui=1

Marking as done.

[2021-08-31 21:03] #77 closed, assigned to not-alpha

[2021-09-04 12:08] schlos opened #108 "popravitobase: Submit success button has wrong style"
**Describe the bug**

Submit success button has wrong style.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma.

**Screenshots**

![Screenshot_20210904-123523_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/132093899-dbd80fef-b778-427b-bd08-c6a20d0a247b.jpg)

**Desktop (

[2021-09-06 10:20] schlos opened #109 "popravitobase: Add staging banner on top"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add notice on top of every page to indicate this is staging/development site.

**Describe alternatives you've considered**

**Additional context**

Example green top banner like on our other site:
https://snippyly.com/img/?q=CFM8LrV60aKL6spjr9XY &EDIT=HTD3LfZMGNvJLWWQcTf9

Pseudocode:

[code]

[2021-09-06 16:35] schlos commented on #109
Code snippet:
https://codepen.io/brbr_prc/pen/QWgGvpX

Mozda `background color` boja nije najidealnija po pitanju kontrasta i accessiblitiya. Vidjeti neke od ovih: https://www.color-hex.com/color-palette/23357

[2021-09-06 17:00] schlos commented on #109
Done via: https://github.com/codeforcroatia/popravi.to/commit/8d84cccd0ac3d81960c1acaa147280df07ad0cfa

[2021-09-06 17:00] #109 closed, assigned to schlos

[2021-09-10 19:33] schlos commented on #39
Fixed

[2021-09-10 19:33] #39 closed, assigned to schlos

[2021-09-11 18:18] schlos commented on #102
Contacts page - DONE

[2021-09-17 09:13] schlos commented on #102
All Reports page - IN PROGRESS

[2021-09-18 06:40] schlos opened #118 "popravito: Pin custom designs"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Documentation:
https://fixmystreet.org/customising/cobrand-module/
it's customized in the Cobrand.pm

[2021-09-18 11:03] schlos opened #119 "Idea: Superuser promo"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Example of superuser promo on FMS: https://images.app.goo.gl/K8hC1CRzW89Y7QTg8

[2021-09-18 11:04] schlos opened #120 "Documentation: Popravi.to for JLS (Staff/Pro)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Documentation:
https://www.slideshare.net/mysociety/introducing-fixmystreet-for-councils-a-5-minute-pitch
https://fixmystreet.org/pro-manual/print/

[2021-09-18 11:10] schlos opened #121 "Configure HTTPS (Secure) certificate for Popravi.to"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-09-18 11:12] schlos opened #122 "popravito: Enable Auto locate (auto geolocation)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Geolocation (auto locate me) on homepage works only for HTTPS pages (needs #121).

**Describe alternatives you've considered**

**Additional context**

Depends on #121
If HTTPS is not enabled, auto geolocation functionality will not be displayed, more on https://groups.google.com/a/mysociety.o

[2021-09-19 16:01] schlos commented on #35
Done upstream in FMS master branch, will be tagged in next version:
https://github.com/mysociety/fixmystreet/pull/3252/files

v4.0: https://github.com/codeforcroatia/popravi.to/issues/187

[2021-09-19 16:06] schlos opened #123 "popravito: Add web analytics"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add Google Analytics & enable anonymize_ip.
Add GoatCounter for backup (free under fair usage).
Add Counter for cfc aggregated stats.

**Describe alternatives you've considered**

**Additional context**

Global site tag (gtag.js) Use this if you're using a website builder or CMS-hosted site
Ad

[2021-09-19 16:06] schlos commented on #14
Add OSM license and attribution: https://www.openstreetmap.org/copyright

[2021-09-19 16:11] schlos opened #124 "Email hardening - SPF, DKIM, DMARC"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

To minimize the chance that your messages are marked as spam, set up these authentication methods:

Publish an SPF record for your domain. SPF prevents spammers from sending unauthorized messages that appear to be from your d

[2021-09-19 16:12] schlos opened #125 "Add extra map layer (i.e Bing satellite)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Dodavanje dodatnog layera karte - Bing satelit.

**Describe alternatives you've considered**

**Additional context**

Upute: http://groups.google.com/a/mysociety.org/group/fixmystreet/t/6850fddede3ec4c6?utm_source=digest&utm_medium=email

Bings Maps API key:
https://docs.microsoft.com/en-us/bi

[2021-09-19 16:16] schlos opened #126 "Onboard new third party client - DogWeb"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

DogWeb mobile app to report problem in dog parks via Popravi.to:
- Unos problema po lokaciji - deeplink (otvara kartu), https://popravi.to/around?lat=45.81284&lon=15.97589&zoom=3
- Unos problema po nazivu ulice i mjestu - deeplink (pretraga, daje popis mogucih ulica), https://popravi.to/around

[2021-09-20 06:50] #27 closed, assigned to nobody

[2021-09-20 06:50] #26 closed, assigned to nobody

[2021-09-20 06:50] #25 closed, assigned to nobody

[2021-09-20 06:50] #24 closed, assigned to nobody

[2021-09-20 06:50] #23 closed, assigned to nobody

[2021-09-20 06:51] #22 closed, assigned to nobody

[2021-09-20 06:51] #21 closed, assigned to reine93

[2021-09-20 06:51] #20 closed, assigned to barbaraperic

[2021-09-20 06:51] #19 closed, assigned to barbaraperic

[2021-09-20 06:51] #18 closed, assigned to nobody

[2021-09-20 16:55] schlos commented on #14
OSM map contributors copyright is already displayed on map views:

![Screenshot_20210920-185329_Opera Touch.jpg](https://user-images.githubusercontent.com/1014134/134042539-a0039c43-50cf-4ffe-8287-18ceca08e193.jpg)

To-do: add sentence that explains where we use osm (i.e. geolocation, admin boundaries, map)

[2021-09-20 20:51] schlos commented on #121
https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-18-04

[2021-09-21 17:54] not-alpha commented on #28
Emails based on provided screenshots:
https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2583%3A11461

@schlos

[2021-09-21 20:34] schlos commented on #28
Thanks, looks awesome!
I have added few comments and suggestions in Figma. @not-alpha

[2021-09-25 10:00] schlos commented on #28
Email templates:
1. Confirm email: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2583%3A11461&scaling=min-zoom&page-id=2583%3A9884&hide-ui=1
2. New reports (with thumbnails): https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2583%3A11837&scaling=min-zoom&page-id=2583%3A9884&hide-ui=1
3. New reports (no thumbnail): https://www.figma.com/proto/OrvZfg5BsfdO

[2021-09-25 10:00] #28 closed, assigned to not-alpha

[2021-09-25 15:52] schlos opened #129 "Code house rules page - pravila koristenja"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

House rules page should use same code as FAQ page found in https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravito/about/faq-hr.html.

House rules Croatian text can be found in Google Doc (shared internally with developer only) - Pravila koristenja:
https://docs.googl

[2021-09-25 15:56] schlos opened #130 "Code privacy page - privatnost, kolacici i usluge trecih strana"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Privacy page should use same code as FAQ page found in https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravito/about/faq-hr.html.

Privacy page Croatian text can be found in Google Doc (shared internally with developer only) - Pravila privatnosti:
https://docs.google.

[2021-09-26 10:27] schlos commented on #10
[11. rujna 2021.](https://diskurs.codeforcroatia.org/t/popravi-to-testna-okolina/495/5?u=schlos) dovrsena je konfiguracija na Popravi.to beta portalu.

Posljednji ciklus testiranja Popravi.to portala sadrži sve gradove* i sve općine* u Hrvatskoj s 34 kategorije za prijavu problema.
*Caveat: uz izuzetak [23 gradova i općina](https://github.com/osm-hr/osm-hr/issues/64) koji administrativno nedostaju

[2021-09-26 10:27] #10 closed, assigned to nobody

[2021-09-26 10:28] schlos commented on #12
Done as of 11-Sep-2021.

[2021-09-26 10:28] #12 closed, assigned to nobody

[2021-09-26 10:51] schlos opened #131 "Code posters page - promotivni materijali"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Posters page should be based on FAQ page found in https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravito/about/faq-hr.html.

Posters page Croatian text can be found in Google Doc (shared internally with developer only) - Promotivni materijali:
https://docs.google.com

[2021-09-26 11:07] schlos commented on #6
@meliskeli

[2021-09-26 13:31] schlos opened #132 "popravito: Missing next/submit button on Updates screen"
**Describe the bug**

Missing next/submit button on Updates screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

There should be a submit button on Add update screen.

**Screenshots**

Current:
https://snippyly.com/img/?q=KcJuSsuy68S06HZKE4ir &EDIT=qEDBIePWwveEwJc8Ajue

Expected (see Next button):

[2021-09-26 14:52] X3NOSAURUS commented on #131
Hi, please can I work on this issue?

[2021-09-29 17:35] schlos opened #134 "popravito: Unorderd lists are missing bullet symbols"
**Describe the bug**

In the /web/cobrands/popravito/base.scss we have:
[code]

Which is fine as it's used probably in the menu list items to dynamically generate menu items.

But, in the pages (FAQ, privacy policy, house rules etc), unordered lists are missing bullet symbol.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-09-29 17:39] schlos commented on #129
Unordered lists will be fixed via #134, and after 134 is done, then here you can implement:
`<ul class="with-bullets">`

[2021-09-29 17:39] schlos commented on #130
Unordered lists will be fixed via #134, and after 134 is done, then here you can implement:
`<ul class="with-bullets">`

[2021-09-29 17:41] schlos commented on #14
We need to also fix unordered lists which will be done via #134, and after 134 is closed, then here we can implement:
`<ul class="with-bullets">`

[2021-09-29 18:05] schlos commented on #134
Fixed as per screenshot:
https://snippyly.com/img/?q=hNfQHvTv0DkDhSTMUv9n &EDIT=VZ1Od0GV5YuL1Vgp9qph

[2021-09-29 18:05] #134 closed, assigned to schlos

[2021-09-29 18:17] schlos commented on #129
Partially done (http://dev.test.popravi.to/about/house-rules), needs only to apply unordered list class for bullets

[2021-09-30 03:51] schlos commented on #72
Being fixed with #102. Closing since its duplicate.

[2021-09-30 03:51] #72 closed, assigned to nobody

[2021-09-30 03:52] schlos commented on #68
Being fixed with #102. Closing since its duplicate.

[2021-09-30 03:52] #68 closed, assigned to nobody

[2021-09-30 03:52] schlos commented on #67
Being fixed with #102. Closing since its duplicate.

[2021-09-30 03:53] #67 closed, assigned to nobody

[2021-09-30 03:54] schlos commented on #64
Being fixed with #102. Closing since its duplicate.

[2021-09-30 03:55] #64 closed, assigned to nobody

[2021-09-30 06:15] schlos commented on #77
One fix to do:
Allign questionnaire page button design for Fixed, Not fixed, Don't know with button design in the questionnaire reminder email.

[2021-10-01 14:58] schlos commented on #6
**Gong uloga:**
* pisanje priopcenja za javnost (PR tekst)
* priopcenje medijima
* _(organizacija eventa (presica); 14. listopada 2021. UPDATE: oduceno je da nece biti press eventa)_
* komunikacija s medijima

**Popravi.to projektni team:**
* dovrsiti taskove na https://github.com/codeforcroatia/popravi.to/projects/1
* priprema briefing materijala za Gong i novinare
* podrska u odgovaranju na novi

[2021-10-03 07:14] schlos commented on #4
U tijeku:
* dizajn za Wanted poster za drustvene mreze
* dizajn za A4 flyer

Sljedece:
* printabilne Popravi.to trake (po uzoru na crime scene / policijske trake)

[2021-10-03 08:39] schlos opened #137 "Unorderd lists needs CSS fix for mobile view (FAQ page)"
**Describe the bug**

Unorderd lists needs CSS fix for mobile view (see screenshot).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Alignment and margins for all bullets should be the same on mobile like on desktop.

**Screenshots**

Current problem on mobile:

![photo_2021-10-03_10-38-19](https://u

[2021-10-03 10:07] schlos opened #138 "popravito: Develop responsive HTML emails"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Develop responsive HTML emails as per provided designs:

1. Confirm email: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2583%3A11461&scaling=min-zoom&page-id=2583%3A9884&hide-ui=1
2. New reports (with thumbnails): https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popr

[2021-10-03 12:48] not-alpha commented on #40
@schlos
Couldn't find a better mockup so I just photoshoped our app instead of fms. If I come up with something better we can change it later

![popravi-og](https://user-images.githubusercontent.com/952710/135754352-58a8c6be-5c0f-4e08-9b9f-f03c2dd3b464.jpg)

[2021-10-03 13:14] not-alpha commented on #70
@schlos prijedlog za menu: https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2673%3A10688

Klik otvara meni, strelica se okrene u drugom smjeru, a u izborniku je označeno na kojem si pageu trenutno. Isto se treba ponašati i za [FAQ mobile verziju](https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2673%3A10816) (primjer dole)

<img width="1143" alt="Screenshot

[2021-10-03 13:26] schlos commented on #33
User story za 2fa - kako dodje do 2fa:

- kada user otvori Profile page (/my), vidi link "Security"
- kada otvori Security stranicu, vidi screenove koji su prikazani u descriptionu ticketa

[2021-10-03 13:31] schlos commented on #40
Thanks! This is good enough!
We could later take photo with somebody holding the phone, and then take it from there.

[2021-10-03 13:36] #40 closed, assigned to not-alpha

[2021-10-03 13:44] schlos commented on #70
Will take a look and let you know. Assigning back to me for checking.

[2021-10-03 16:31] Danijel-Korent commented on #129
Done

[2021-10-03 16:31] #129 closed, assigned to Danijel-Korent

[2021-10-03 19:50] not-alpha commented on #33
@schlos evo ekrana za admin - security: https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2750%3A10295

Javi ako misliš da nešto ne funkcionira

[2021-10-08 14:54] schlos commented on #100
Commit https://github.com/codeforcroatia/popravi.to/commit/0e01e7476d1392c70e3a500d428879bcb695f444 removes "About the problem" section

[2021-10-08 15:53] schlos commented on #100
Remaining fixes in CSS:
- add arrow-right (like "arrow-left")
- add form_sign_in (same as form_sign_in_no, and fomr_sign_in_yes)

Asked for CSS help from @barbaraperic

[2021-10-09 05:59] schlos commented on #4
Zavrseno:
- dizajn za Wanted poster (npr. za drustvene mreze) --> Figma & PSD
- dizajn za A4 Flyer --> Figma (koncept, v0) & PSD (v1)

[2021-10-09 19:16] schlos commented on #100
Fixed signed in user last step in new report (using" form_sign_in_no") via commit https://github.com/codeforcroatia/popravi.to/commit/697510ed65a74cb32d0d2aa6f7414c1dec215971.

[2021-10-09 19:17] schlos commented on #100
"Tells us about you" <-> "Prijavite svoj problem" title swapping is not possible at this moment.

[2021-10-10 10:01] schlos opened #143 "popravito: Error message has light red background color on some screens for field errors"
**Describe the bug**

Error message is colored in red font and light red background using `class="field-error"` (Not OK, wrong class is applied).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Error message is colored in red font and should have white background using `class="field-error-message"`.

[2021-10-10 10:29] schlos commented on #132
Added arrow to next button via commit https://github.com/codeforcroatia/popravi.to/commit/b5514bef254fbcaf3796c4626f42e93dd6829feb

To-do:
- add back and Sign in buttons on Sign in form (for not-loggedin users)

[2021-10-10 11:45] schlos opened #144 "popravito: Two Back buttons on New report Sign in and Register forms"
**Describe the bug**

Issue occurred after fixing #132.
Now we have 2 Back buttons on New report Sign-in screen.
Now we have 2 Back buttons on New report Register screen.

**To Reproduce**
How to get there - New report Sign in screen:
1. Report new problem, enter problem title, description,
2. on next step "Tell us about you", click "Sign in" button
3. Sign in form is opened --> notice it has 2 Ba

[2021-10-10 12:03] schlos commented on #132
Back and Sign-in buttons added to New update sign in form.
Although, now on New report sign in form I have 2 Back buttons --> new ticket opened (#144)

[2021-10-10 12:03] #132 closed, assigned to schlos

[2021-10-10 12:10] schlos commented on #144
Fixed

[2021-10-10 12:10] #144 closed, assigned to schlos

[2021-10-10 12:12] schlos opened #145 "popravito: Fix loggedin User form layout on Updates screen"
**Describe the bug**

Has wrong layout.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma design.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the follow

[2021-10-10 13:56] schlos commented on #145
Fixed.

[2021-10-10 13:56] #145 closed, assigned to schlos

[2021-10-10 14:05] schlos opened #146 "Enable and fix report's display tools footer UI"
**Describe the bug**

Report's display tools in the footer are displayed as a list (see 'popravito' cobrand screenshot).

**To Reproduce**
n/a - we disabled it on a 'popravito' cobrand until it's fixed.

**Expected behavior**

- [ ] Make design for report's display tools in the footer
- [ ] Fix report's display tools in footer
- [ ] Enable report/display_tools.html

**Screenshots**

On 'popravito'

[2021-10-10 14:16] schlos commented on #33
@not-alpha ostavio sam par komentara u Figmi.

[2021-10-10 15:08] schlos commented on #123
Done:
- https://analytics.google.com
- https://popravito.goatcounter.com
- https://counter.dev

[2021-10-10 15:08] #123 closed, assigned to schlos

[2021-10-10 15:12] schlos commented on #121
https://fixmystreet.org/install/manual-install/

Also:
- https://groups.google.com/a/mysociety.org/g/fixmystreet/c/cvHTMzt2jQs/m/KZdIgS1WBgAJ
- https://groups.google.com/a/mysociety.org/g/fixmystreet/c/Nt3ZZciinYM/m/S49iAIIfGAAJ
- https://fixmystreet.org/customising/config/#secure_proxy_ssl_header

[2021-10-11 13:40] schlos commented on #138
Emails developed by a freelancer: https://drive.google.com/drive/folders/1H_FIWGSHwiBqoTGI-xBCQQQpg9wTajKj (restricted access - internal only)

To-do:
- integrate into FixMyStreet 'popravito' cobrand
- add alt and base64 logo (https://docs.google.com/document/d/1CK_5JGQFDkjQmhH5B_TP_roMraMZ4quDaMtp18ko6uk/edit?usp=sharing (restricted access - internal only))

Example image with base64 (clipped for

[2021-10-12 21:54] schlos opened #148 "popravito: Add Sign in via email link option"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add Sign in via email link option.

**Describe alternatives you've considered**

**Additional context**

[2021-10-12 21:54] schlos commented on #148
Done via https://github.com/codeforcroatia/popravi.to/commit/61d57dfbf48dc54f52e3c4bc034f853676c23794 (as final commit).

[2021-10-12 21:54] #148 closed, assigned to schlos

[2021-10-13 21:07] schlos opened #149 "Enable GDPR process for inactive accounts"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

https://github.com/mysociety/fixmystreet/blob/cb4f2b96364d151988b5c664888468b25cc62240/bin/process-inactive-accounts

**Describe alternatives you've considered**

**Additional context**

[2021-10-16 09:20] schlos opened #150 "Table/column issue in displaying map thumbnail next to title and description (Gmail)"
**Describe the bug**

Table/column issue in displaying map thumbnail next to title and description.
Tested same code in PutsMail, and it's displayed correctly. Not sure where issue occurs.

I have disabled displaying of map thumbnail in HTML templates until this is resolved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-10-16 20:43] schlos opened #151 "popravito: Status is not displayed on report details page"
**Describe the bug**

Status is not displayed on report details page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Show report status.

**Screenshots**

Current:
![Screenshot from 2021-10-16 22-42-33](https://user-images.githubusercontent.com/1014134/137601657-0dcbf766-4d0b-4e62-9f35-667de60d5e60.

[2021-10-16 20:46] #151 closed, assigned to schlos

[2021-10-16 21:19] schlos commented on #138
Zavrseno.

[2021-10-16 21:19] #138 closed, assigned to nobody

[2021-10-16 21:43] schlos commented on #6
Datum je ugrubo dogovoren - prvi tjedan u studenom.

[2021-10-16 21:51] #2 closed

[2021-10-17 13:05] schlos opened #152 "Map has wrong size on Report details screen"
**Describe the bug**

Map has wrong size on Report details screen (see under screesnhots).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per Figma design:
- desktop: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=464%3A3676&scaling=min-zoom&page-id=25%3A186&hide-ui=1
- mob

[2021-10-18 18:56] schlos commented on #121
certbot installed: https://certbot.eff.org/lets-encrypt/ubuntubionic-nginx
Let's Encrypt setup for Popravi.to: `sudo certbot --nginx -d popravi.to`
renew dryrun was sucessfull

Internal notes are shared at https://docs.google.com/document/d/1TGQMA2JSmy2pP7zF1tDD7tjN0T4IEyC5XqNYWYu6X1g/edit# (authorized access only)

[2021-10-18 18:56] #121 closed, assigned to nobody

[2021-10-18 19:05] schlos commented on #122
Task #121 is done, so now find my location should work.
Also it's been added to the 'popravito' cobrand: https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravito/around/postcode_form.html#L38

Still to be tested on the production site.

[2021-10-18 19:10] schlos commented on #122
Tested, displays fine. It should work on HTTPS production site.

[2021-10-18 19:10] #122 closed, assigned to nobody

[2021-10-21 15:29] schlos opened #153 "Photo upload screen when reporting a problem - remove image button and thumbnail style and size"
**Describe the bug**

Photo upload UI/UX when reporting a problem - "remove image" button not displayed properly overlayed on image. See screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Following Figma design and functionality on other FMS themes.

**Screenshots**

Current (photo buttons a

[2021-10-27 18:05] schlos commented on #143
Fixed.

![Screenshot_20211027-193624_Opera Touch](https://user-images.githubusercontent.com/1014134/139121759-e97b5751-0857-421b-967f-d9212b3db4a3.jpg)

![Screenshot_20211027-193656_Opera Touch](https://user-images.githubusercontent.com/1014134/139121774-b55bc3aa-2b9f-4a05-88ef-e073b6df6a89.jpg)

[2021-10-27 18:05] #143 closed, assigned to nobody

[2021-10-28 15:18] schlos opened #157 "Kustomizacija za Zeleni telefon cobrand"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Zeleni telefon - "Add cobranded site configuration data here in [name of cobrand]/general" - cobrand pm config za zupanije i limit po cobrandu.

**Describe alternatives you've considered**

**Additional context**

Vidi kako je za fms cobrand napravljeno: https://groups.google.com/a/mysociety.o

[2021-10-28 15:19] schlos commented on #157
Not needed anymore

[2021-10-28 15:19] #157 closed, assigned to nobody

[2021-10-29 15:18] schlos opened #158 "popravito: Design to show nearby problems when reporting a new problem"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Current screen when reporting a problem:
https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=267%3A728&scaling=min-zoom&page-id=25%3A186

Expected is to show a list of problems nearby - to avoid duplicate reports for the same problem from different persons.
Expected is to sho

[2021-11-02 14:01] schlos opened #162 "popravito: Add Popravi.to favicon"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add Popravi.to favicon

**Describe alternatives you've considered**

**Additional context**

Fix to be added here:
https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravito/header_extra.html

Example:
[code]

[2021-11-02 14:47] simevidas opened #163 "Performing a search query triggers an “insecure connection” warning in Firefox"
1. Open https://popravi.to/ in desktop Firefox
2. Type something into the search box and press Enter

I’m on macOS. Firefox shows me this warning very rarely on other sites, so it’s not a common occurence. Off the top of my head, I can’t think of any other website that has this issue.

<img width="811" alt="Screenshot 2021-11-02 at 15 38 33" src="https://user-images.githubusercontent.com/716405/13

[2021-11-02 14:50] simevidas commented on #163
I had to temporarily disable HTTPS-only mode in Firefox to even see the non-HTTPS request in the Network panel, but it’s there, which confirms the bug.

<img width="813" alt="Screenshot 2021-11-02 at 15 48 55" src="https://user-images.githubusercontent.com/716405/139870890-cfab11b8-6946-4bd9-883d-cdd9c66ae4fd.png">

[2021-11-02 15:06] schlos commented on #163
I can confirm the same problem on Brave browser:
![Screenshot from 2021-11-02 15-55-06](https://user-images.githubusercontent.com/1014134/139872747-a816efea-2bad-4bd2-9914-1ae3f34454a0.png)

Related to this, GH issue upstream: https://github.com/mysociety/fixmystreet/issues/2814
And discussion on a mailing list: https://groups.google.com/a/mysociety.org/g/fixmystreet/c/4Xt21ZL3OhM

[2021-11-02 15:08] schlos commented on #163
I fixed it by adding the following in the `@catalyst` section in NGINX config:

[code]

@simevidas Thank you for reporting the error! Please check if it's working now on your end.

[2021-11-02 15:08] #163 closed, assigned to schlos

[2021-11-02 20:30] schlos opened #164 "popravito: Alerts email is missing report links"
**Describe the bug**

Alerts email is missing report links

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

https://github.com/codeforcroatia/popravi.to/blob/develop/templates/email/default/_email_report_list.html#L9

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.

[2021-11-02 20:39] schlos opened #165 "Set alerts cronjob every x hours"
**Describe the bug**

Alerts email every 1h

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Set alerts cronjob every 6h

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete

[2021-11-02 21:15] schlos commented on #165
Done with crontab change:
`sudo -u fms crontab -e`
[code]

Validate crontab expression: [https://crontab.guru](https://crontab.guru/#2_*/6_*_*_*)

[2021-11-02 21:15] #165 closed, assigned to schlos

[2021-11-02 21:37] schlos opened #166 "popravito: Fixed statistic on homepage is blank"
**Describe the bug**

Fixed statistic on homepage is blank

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

https://snippyly.com/?q=rwzukmkUGEp5CZQJTsHA &EDIT=nUxlpFpJWRKKFQA9UbL6

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Browser [e.g. chrome,

[2021-11-02 21:44] #162 closed, assigned to schlos

[2021-11-02 21:44] #164 closed, assigned to schlos

[2021-11-02 21:46] schlos commented on #166
Fix verification on DEV https://github.com/codeforcroatia/popravi.to/commit/8bc803eee8a4052d9acf70840f1586527040ff19

[2021-11-02 22:04] #166 closed, assigned to schlos

[2021-11-02 22:23] schlos commented on #6
Javni release: 2-Nov-2021

Gongovo priopcenje za medije: https://gong.hr/2021/11/02/prijavi-problem-u-svom-gradu-popravi-to-aktivira-gradanke-i-motivira-javnu-vlast/

Popravi.to video: https://youtu.be/amFcybMNp3w

Objava na Hina: https://www.hina.hr/vijest/10819160

[2021-11-02 22:23] #6 closed, assigned to nobody

[2021-11-02 22:23] schlos commented on #130
Fixed.

[2021-11-02 22:23] #130 closed, assigned to Danijel-Korent

[2021-11-04 07:42] schlos opened #167 "popravito: Add Gong logo to the footer"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-11-04 12:22] schlos commented on #165
Updated to every 4 hours during the day (8-20h):
crontab expression [https://crontab.guru](https://crontab.guru/#2_8,12,16,20_*_*_*)

[2021-11-04 22:00] schlos opened #168 "popravito: Make only language hr, hr_HR"
**Describe the bug**

Some users see GUI in English language, some Croatian language.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Make only language hr, hr_HR

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Browser [e.g. chrome, safari]
 - Versi

[2021-11-04 22:01] schlos commented on #168
Change attempted, to be tested.

[2021-11-04 22:12] schlos opened #169 "popravito: Disable questionnaire email - send_questionnaires"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Can be re-enabled after #78 is fixed

[2021-11-04 22:15] schlos commented on #168
Looks fixed.

[2021-11-04 22:15] #168 closed, assigned to nobody

[2021-11-04 22:17] schlos commented on #169
Disabled.

[2021-11-04 22:17] #169 closed, assigned to nobody

[2021-11-04 22:19] schlos commented on #80
Done.

[2021-11-04 22:19] #80 closed, assigned to nobody

[2021-11-04 22:20] schlos commented on #33
Design is done.

[2021-11-04 22:20] #33 closed, assigned to not-alpha

[2021-11-05 18:17] schlos opened #170 "Write / Update Open311 API documentation page"
**Is your feature request related to a problem? Please describe.**

https://popravi.to/open311

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

See examples:
https://fixmystreet.com/open311
and
https://web.archive.org/web/20211105182144/http://fixmystreet.org.nz/api

[2021-11-05 18:20] schlos opened #171 "Fix links to other FMS sites in Open311 API reponse (API configuration)"
**Describe the bug**

https://popravi.to/open311/v2/discovery.xml?jurisdiction_id=popravito

shows:
[code]

also:
[code]

Coming from:
https://github.com/codeforcroatia/popravi.to/blob/develop/perllib/FixMyStreet/App/Controller/Open311.pm#L106

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

See examp

[2021-11-06 10:11] schlos commented on #37
This theme/cobrand "popravitobase" is depricated, and at this time we will not work on fixing remaining issues.

[2021-11-07 06:29] schlos commented on #167
Fixed.

[2021-11-07 06:29] #167 closed, assigned to nobody

[2021-11-07 06:46] schlos opened #172 "Display all time stats on a frontpage"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Display all time stats on a frontpage.

**Describe alternatives you've considered**

**Additional context**

[2021-11-07 07:17] schlos commented on #172
Posted questions on FMS mailling list: https://groups.google.com/a/mysociety.org/g/fixmystreet/c/rd9fIv4FfRs

[2021-11-07 07:23] schlos commented on #152
For working reference, refer to the original FMS web and how it's working as a progressive mobile app and how map is displayed on a mobile screen:
https://github.com/mysociety/fixmystreet/issues/1996#issuecomment-365895609

[2021-11-10 06:28] schlos commented on #165
Updated to 2x a day:
crontab expression [https://crontab.guru](https://crontab.guru/#2_7,19_*_*_*)

[2021-11-10 08:46] schlos opened #173 "Message after confirming my report via email link has wrong layout"
**Describe the bug**

Message after confirming my report via email link has wrong layout - see screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Message after confirming my report via email link should be displayed in modal - see Figma design.

**Screenshots**

Current:
https://snippyly.com

[2021-11-11 20:45] #108 closed, assigned to nobody

[2021-11-11 20:46] #48 closed, assigned to nobody

[2021-11-11 20:46] #49 closed, assigned to nobody

[2021-11-11 20:46] #50 closed, assigned to nobody

[2021-11-11 20:46] #51 closed, assigned to nobody

[2021-11-11 20:46] #52 closed, assigned to nobody

[2021-11-11 20:46] #53 closed, assigned to nobody

[2021-11-11 20:46] #54 closed, assigned to kostyakazmiruk

[2021-11-11 20:46] #55 closed, assigned to nobody

[2021-11-11 20:46] #56 closed, assigned to nobody

[2021-11-11 20:46] #57 closed, assigned to nobody

[2021-11-11 20:46] #58 closed, assigned to nobody

[2021-11-11 20:46] #41 closed, assigned to nobody

[2021-11-11 20:46] #43 closed, assigned to nobody

[2021-11-11 20:46] #44 closed, assigned to nobody

[2021-11-11 20:46] #45 closed, assigned to nobody

[2021-11-11 21:04] schlos commented on #88
Design concept:
- https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2119%3A9761
- https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=2119%3A9839

[2021-11-11 21:07] schlos commented on #95
Related to / Duplicated by #153

[2021-11-11 21:11] schlos commented on #100
Fixed & closed.

[2021-11-11 21:11] #100 closed, assigned to schlos

[2021-11-11 21:19] schlos commented on #103
Fixed with commit https://github.com/codeforcroatia/popravi.to/commit/a22c0a61598b144f5361dba19bd4798c52b2fd52#diff-43456399c8ab49e6f50d1271a16083fe07c0189481f69621a841f1c81f4a6caa

![Screenshot from 2021-11-11 22-13-48](https://user-images.githubusercontent.com/1014134/141370506-0ae4ba87-43c4-4e34-a5c3-75f5d30d9431.png)

[2021-11-11 21:19] #103 closed, assigned to nobody

[2021-11-11 21:23] schlos opened #174 "Menu cannot be closed if opened on mobile"
**Describe the bug**

Mobile menu was broken when fixing desktop menu position (see #103).
Menu cannot be closed if opened on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Menu should be displayed below menu hamburger icon. Menu should be possible to close by clicking on hamburger icon.
By

[2021-11-11 21:30] schlos commented on #158
See design concept:
https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=3131%3A11211&scaling=min-zoom&page-id=25%3A186&hide-ui=1

[2021-11-11 21:30] #158 closed, assigned to schlos

[2021-11-11 21:34] schlos opened #175 "Display nearby problems on around page"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Display nearby problems on around page when reporting a new problem (1st step after entering address on homepage).

As per design in #158.
Figma mock: https://www.figma.com/proto/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=3131%3A11211&scaling=min-zoom&page-id=25%3A186&hide-ui=1

**Describe alte

[2021-11-12 15:40] schlos commented on #102
Contact page - remaining:
- add text box for some items on a bullet list when selected, see example: https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/fixmystreet.com/contact/who.html
- disable contact form if those are selected

[2021-11-12 15:44] schlos commented on #102
Alerts page - remaining:
- add top menu (i.e. INCLUDE, see example line [here](https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravitodev/around/index.html#L2) and [here](https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravitodev/about/faq-hr.html#L1))
- add footer (i.e. INCLUDE, see example [here](https://github.com/codeforcroatia/popravi.to/blo

[2021-11-12 16:18] schlos opened #176 "Organize file and code structure of CSS"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-11-13 09:35] schlos commented on #170
FMS Open311 API explained:

- https://www.mysociety.org/2013/01/17/open311-explained/
- https://www.mysociety.org/2013/02/20/open311-extended/
- https://www.societyworks.org/case-studies/city-of-westminster/
- https://www.societyworks.org/case-studies/oxfordshire/

[2021-11-13 09:36] schlos commented on #170
**[FixMyStreet] Open311 integration documentation RFC**
https://groups.google.com/a/mysociety.org/g/fixmystreet/c/WUCe63mjjB0/m/gLqQyOu8WG8J

[2021-11-14 12:18] schlos commented on #102
Commit: https://github.com/codeforcroatia/popravi.to/commit/96919864d55d57efd1144dc1e81b8aeb89cc3614 via PR https://github.com/codeforcroatia/popravi.to/pull/177

[2021-11-24 10:44] schlos opened #178 "Update link/button is not visible on report page"
**Describe the bug**

When viewing a report (report details page), update button ("Ažuriraj") is not visible.

For comparison:
Update button ("Ažuriraj") is visible if there are already other updates/comments added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

As per figma.

**Screenshots**

Curre

[2021-11-26 18:52] schlos commented on #178
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:53] schlos commented on #175
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:53] schlos commented on #174
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:54] schlos commented on #173
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:54] schlos commented on #171
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:56] schlos commented on #170
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:56] schlos commented on #153
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:56] schlos commented on #152
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 18:57] schlos commented on #150
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:02] schlos commented on #146
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:03] schlos commented on #137
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:06] schlos commented on #102
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:09] schlos commented on #99
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:09] schlos commented on #98
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:13] schlos commented on #97
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:15] schlos commented on #96
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:17] #95 closed, assigned to nobody

[2021-11-26 19:20] schlos commented on #85
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:21] schlos commented on #85
Example of current PROD page with the problem:
https://popravi.to/report/12

[2021-11-26 19:22] schlos commented on #84
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:23] schlos commented on #79
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:26] schlos commented on #78
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:27] #76 closed, assigned to nobody

[2021-11-26 19:28] schlos commented on #62
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:29] schlos commented on #60
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:30] schlos commented on #47
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:30] schlos commented on #46
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:31] #37 closed, assigned to nobody

[2021-11-26 19:31] schlos commented on #34
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:33] schlos commented on #14
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:33] schlos commented on #7
**How to contribute?**
Read our contribution guidelines at https://codeforcroatia.org/popravito-contribution-guidelines.

[2021-11-26 19:40] schlos commented on #120
Popravi.to prezentacija za JLS:
https://docs.google.com/presentation/d/1jucwDGNF_ta9j9LU39XlCh6SBVN5TK9BD7he0Qy0O7A/edit (interni link)

[2021-11-26 19:40] #120 closed, assigned to nobody

[2021-11-28 16:12] not-alpha commented on #84
@schlos added!

https://www.figma.com/file/OrvZfg5BsfdOzeL7nhRpEI/Popravi.to?node-id=464%3A4549

[2021-11-28 16:16] schlos commented on #84
Thank you @not-alpha.

There is more work: we need help of a frendly frontend developer who can make this change in footer html:
https://github.com/codeforcroatia/popravi.to/blob/develop/templates/web/popravitodev/footer.html#L53

[2021-11-30 08:06] schlos commented on #165
Updated to 1x a day:
crontab expression [https://crontab.guru](https://crontab.guru/#2_7_*_*_*)

[2021-12-02 07:09] schlos opened #179 "Add missing report metadata on Report Details screen"
**Describe the bug**

Missing report metadata on Report Details screen as per screenshots.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Add missing report metadata on Report Details screen.

**Screenshots**

**Current:**
![Screenshot from 2021-12-02 08-07-50](https://user-images.githubusercontent.

[2021-12-10 08:22] schlos opened #184 "Configure SSL wildcard certificates autorenewal"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Configure SSL wildcard certificates for subdomains.

**Describe alternatives you've considered**

**Additional context**

LetsEncrypt wildcard guidelines:
https://web.archive.org/web/20211210074128/https://medium.com/@alitou/getting-a-wildcard-ssl-certificate-using-certbot-and-deploy-on-nginx-

[2021-12-11 15:58] schlos opened #185 "Limit title length"
**Is your feature request related to a problem? Please describe.**

Currently there is no limit length for the title, so it can get lengthy.

**Describe the solution you'd like**

Limit title length.

**Describe alternatives you've considered**

**Additional context**

See examples:
* [Rutland] limit report summaries to 254 characters by struan · Pull Request #2496 · mysociety/fixmystreet · GitHub

[2021-12-11 16:02] schlos opened #186 "Display properly long problem titles on mobile"
**Describe the bug**

Long titles are not displayed properly on mobile - overlaps with the map - see screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Depends on #185, and/or reduce title font to fit all content to viewable port when viewing on mobile or truncate too long titles.

**Screens

[2021-12-12 23:23] schlos commented on #178
Temporary fixed by adding button next to the Title.

[2021-12-12 23:28] schlos commented on #179
Temporary added.
It still needs to be displayed as per Figma.

[2021-12-13 15:35] schlos opened #187 "Upgrade to FixMyStreet v4.0"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Upgrade to FMS v4.0:
https://github.com/mysociety/fixmystreet/releases/tag/v4.0

**Describe alternatives you've considered**

**Additional context**

Contribution guidelines: https://codeforcroatia.org/popravito-contribution-guidelines

[2021-12-15 14:38] schlos opened #188 "OSM-HR: Administrative borders in O07 layer that are missing in the Open Street Map and MapIt Global"
OSM-HR: Jedinice lokalne samouprave koje nedostaju O07 https://github.com/osm-hr/osm-hr/issues/64

These set of administrative boundaries are missing in the currently latest MapIt Generation 10 (23-Jan-2021):
https://global.mapit.mysociety.org/generations.html

------

This is external dependency on Open Street Map, and after it's added to OSM, it need to be imported as a new generation to MapIt G

[2022-01-14 23:23] schlos commented on #118
Update:
- enabled pin colors
- can be seen in https://popravi.to/reports/Grad+Zagreb?zoom=12&lat=45.81623&lon=15.99641
- commit https://github.com/codeforcroatia/popravi.to/commit/9c3e3de45d5ef6cfe33ecc2a3079de86ec747bda

[2022-01-16 21:57] schlos commented on #171
Fixed as per https://github.com/mysociety/fixmystreet/blob/master/perllib/FixMyStreet/App/Controller/Open311.pm#L158

[2022-01-16 21:57] #171 closed, assigned to nobody

[2022-01-17 14:24] schlos commented on #124
DMARC - https://app.easydmarc.com/domain/popravi.to/dmarc-lookup

Lookup results for popravi.to domain
DMARC Status: VALID DMARC
Record value:
v=DMARC1;p=none;sp=none;pct=100;adkim=r;aspf=r;rua=mailto:664195a570@rua.easydmarc.eu;ruf=mailto:664195a570@ruf.easydmarc.eu;rf=afrf;ri=86400;fo=1
:warning:  DMARC record is valid, but set policy None/Quarantine does not yet protect your domain against emai

[2022-01-30 09:47] schlos opened #189 "Improve the contact form"
**Is your feature request related to a problem? Please describe.**

Depends on #102, contact form page for PopraviTo cobrand.

**Describe the solution you'd like**

Add questions to contact form. See example:  https://github.com/mysociety/fixmystreet/issues/41

**Describe alternatives you've considered**

**Additional context**

Contribution guidelines: https://codeforcroatia.org/popravito-contrib

[2022-01-30 09:50] schlos opened #190 "Show cycle routes in HR"
**Is your feature request related to a problem? Please describe.**

Inspired by https://github.com/mysociety/fixmystreet/issues/1171

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

https://www.opencyclemap.org/

Contribution guidelines: https://codeforcroatia.org/popravito-contribution-guidelines

[2022-02-13 00:33] schlos commented on #125
Enabled Bing Maps API for Areal view.

**How to enable it?**
https://snippyly.com/discuss/?q=HCBt7vnHIdungUp19Lh5
&EDIT=dMPRy4Qzmk5rs7KtfToz

**How it looks when Areal view is enabled?**
https://snippyly.com/discuss/?q=tjKr0KwYzukwQ1RwzIiD
&EDIT=QWCHlt748CNZ0v57BI9Y

[2022-02-13 00:33] #125 closed, assigned to nobody

[2022-03-29 08:56] schlos commented on #124
DMARC AGGREGATE REPORTS

Top Compliant Sources
oaf.org.au

DMARC Status: VALID DMARC, https://app.easydmarc.com/domain/popravi.to/dmarc-lookup
DKIM Status: VALID, https://app.easydmarc.com/domain/popravi.to/dkim-lookup
SPF Status: OK, https://app.easydmarc.com/domain/popravi.to/spf-lookup

[2022-03-29 08:56] #124 closed, assigned to schlos

[2022-05-03 07:40] schlos opened #191 "Move DNS to Cloudflare NS"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

https://dnschecker.org/#NS/popravi.to/cloudflare

**Describe alternatives you've considered**

**Additional context**

Contribution guidelines: https://codeforcroatia.org/popravito-contribution-guidelines

[2022-05-03 07:53] #191 closed, assigned to schlos